* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

:root {
    --primary-color: #ee118b;
}

h1 {
    color: #e61414;
    font-size: 55px;
    margin: 20px;
    text-align: center;
    position: relative;
}

h1::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 332px;
    height: 5px;
    left: 316px;
    bottom: -10px;
    margin: 0 auto;
    background: var(--primary-color);
    border-radius: 5px;
}

h2 {
    color: var(--primary-color);
    font-size: 35px;
    margin: 10px;
}

h2::before {
    content: "";
    display: block;
    width: 60px;
    height: 5px;
    background: var(--primary-color);
    border-radius: 50px;
}

p {
    font-size: 20px;
}

strong {
    font-size: 30px;
    color: var(--primary-color);
    font-weight: 600;
}

button {
    display: inline-block;
    color: #fff;
    padding: 6px 20px;
    font-size: 25px;
    background: var(--primary-color);
}
