/* Đây là phần CSS */
.login-form {
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
    padding: 20px;
}

.login-form h2 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.login-form .form-control {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
}

.login-form .form-control:focus {
    border-color: #555;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    outline: none;
}

.login-form .btn {
    background-color: #4caf50;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 12px;
    width: 100%;
}

.login-form .btn:hover {
    background-color: #3f9b43;
}

.login-form .btn:focus {
    outline: none;
}

.login-form a {
    color: #555;
    text-decoration: none;
}

.login-form a:hover {
    color: #000;
}
