body {
    padding-left: 32px;
    font-family: montserrat;
    font-size: 120%;
    font-weight: 600;
    line-height: 2;
    color: rgb(218, 185, 185);
}
h1 h2 p {
    color: rgb(189, 51, 51) !important;
}
a #demo {
    color: tomato;
}
#demo {
    color: violet !important;
}
.link {
    color: green;
}

tbody tr {
    color: blue;
    background-color: rgb(240, 233, 226);
    text-align: center;
}
