* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box-1 {
    width: 300px;
    height: 300px;
    text-align-last: center;
    background-color: rgb(219 22 209/ 0.5);
}

.box-2 {
    width: 300px;
    height: 300px;
    background-color: #ff0000;
}

.box-3 {
    width: 300px;
    height: 300px;
    color: #024433;
    background-color: currentColor;
}

.box-4 {
    width: 300px;
    height: 300px;
    background-color: transparent;
    /* giá trị alpha bằng 0
        background-color: rgb(0, 0, 0, 0);
 */
}
