* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

h1 {
    color: blue;
    font-size: 35px;
    margin: 20px;
    text-align: center;
}

.box {
    width: 200px;
    height: 200px;
    background: violet;
    margin: 50px auto 0;
    /* margin: 50px auto 0; canh cho hộp ở giữa */
    box-shadow: 10px -10px 10px 10px rgba(0, 0, 0, 0.2);
}
