* {
    margin: 0;
    padding: 0;
    line-height: 1.4;
}
.box {
    /* content */
    width: 170px;
    height: 170px;

    /* Padding */
    padding: 10px;

    /* Border */
    border: 5px solid green;

    background-color: orange;
    margin: 0 auto;

    box-sizing: content-box;
    /*
    total wight: 170px + (10px * 2) + (5px * 2 ) = 200px
     total height: 170px + (10px * 2) + (5px * 2 ) = 200px

    Content-box wight : 170px
    Content-box heght : 170px

    ; */
}
.box2 {
    box-sizing: border-box;
    /*   */
    /*
    total wight: 170px
     total height: 170px

    Content-box wight : 170px - (10px * 2) - (5px * 2 ) = 140px
    Content-box heght : 170px - (10px * 2) - (5px * 2 ) = 140px

    ; */
}
