* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 50px;
	color: #333;
	font-family: system-ui, sans-serif;
}

h1 {
	color: blue;
	font-size: 28px;
	margin: 20px;
}

li {
	color: blueviolet;
	font-style: italic;
	font-size: 25px;
	margin-left: 10px;
	margin-bottom: 2px;
}

p {
	font-size: 28px;
	color: rgb(14, 11, 218);
}

input {
	width: 100%;
	padding: 8px;
	border: 1px solid #333;
	break-inside: 4px;
	font-size: 16px;
	outline: none;
}

a {
	text-decoration: none;
	text-align: unset;
}
