* {
    margin: 0;
}
.box1 {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}
.box2 {
    width: 200px;
    height: 100px;
    background-color: blue;
    margin: -10px 5px;
    display: inline-block;
}
.box3 {
    width: 300px;
    height: 100px;
    background-color: rebeccapurple;
}
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.avatar + .avatar {
    margin-left: -60px;
}
