body {
    font-family: Montserrat;
    font-size: 120%;
}

h1 {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.4;
}

p,
blockquote {
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.6;
}

/* ta css blockquote */
blockquote {
    padding: 8px 16px;
    border-left: 4px solid #5ebbff;
    background-color: #d4edff;
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    margin-top: 20px;
    border: 2px solid #5ebbff;
    /* thêm dòng css border: 2px solid #5ebbff */
    border-radius: 999px;
    /* sữa lại border-radius: 4px thành 999px */
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #5ebbff;
    /* đổi màu color với background-color */
    background-color: #fff;
}

.hashtag {
    padding: 0 4px 2px;
    border-radius: 4px;
    color: #fff;
    background-color: #5ebbff;
}

.content {
    padding: 32px;
}

ul .item {
    margin: 10px;
    border-bottom: 1px solid #000;
    display: flex;
}

ul:first-child .item {
    bottom: none;
}
