* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 20px;
	font-family: system-ui;
	font-weight: 600;
	font-size: 24px;
}

/* <body> có nền orange nếu viewport width
trong khoảng 300px - 500px */
@media screen and (min-width: 300px) and (max-width: 500px) {
	body {
		background: orange;
	}
}
