* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html body {
  margin: 0;
}
h1 {
  color: rgb(56, 197, 197);
}
h2 {
  font-size: 68px;
  color: blueviolet;
  position: relative;
  top: 50%;
  left: 50%;
}
ol {
  color: brown;
  background-size: 20px;
  height: 90px;
  line-height: 180px;
  font-size: 25px;
  background-color: rgb(133, 133, 143);
}
