html,
body {
  margin: 0;
}

.header {
  width: 100%;
  height: 100vh;

  background: url(https://1.bp.blogspot.com/-vRed7ubRYeM/YI45NDnYybI/AAAAAAAAFGU/ZPFZq7J9D9M-0nqVNg6KOCynjtOP7ohIgCNcBGAsYHQ/s16000/006AfEgvgy1go39w6yu1xj31r92pahdz.jpg)
    no-repeat center / contain;

  /*
    background: url(https://1.bp.blogspot.com/-vRed7ubRYeM/YI45NDnYybI/AAAAAAAAFGU/ZPFZq7J9D9M-0nqVNg6KOCynjtOP7ohIgCNcBGAsYHQ/s16000/006AfEgvgy1go39w6yu1xj31r92pahdz.jpg)
    no-repeat center / contain;
    cú pháp background ngắn gọn cho background-image-repeat-size-position
    background-image: 
    url(https://1.bp.blogspot.com/-vRed7ubRYeM/YI45NDnYybI/AAAAAAAAFGU/ZPFZq7J9D9M-0nqVNg6KOCynjtOP7ohIgCNcBGAsYHQ/s16000/006AfEgvgy1go39w6yu1xj31r92pahdz.jpg);
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center;
    */
}
