* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

h1 {
    color: blue;
    font-size: 45px;
    margin: 20px;
    font-weight: 800;
}

li {
    color: blueviolet;
    font-style: italic;
    font-size: 25px;
    margin-left: 10px;
    margin-bottom: 2px;
    font-weight: 600;
}

.box {
    margin: 20px;
    width: 300px;
    height: 300px;
    border: 3px dashed rgb(247, 247, 4);
    overflow: hidden;
}

.box-1 {
    margin: 20px;
    width: 300px;
    height: 300px;
    border: 3px dashed rgb(4, 8, 247);
    overflow: scroll;
}

.box-2 {
    margin: 20px;
    width: 300px;
    height: 300px;
    border: 3px dashed rgb(247, 4, 4);
    overflow: auto;
}
.box-3 {
    margin: 20px;
    width: 300px;
    height: 300px;
    border: 3px dashed rgb(247, 4, 4);
    overflow: auto hidden;
}
.box-4 {
    margin: 20px;
    width: 300px;
    height: 300px;
    border: 3px dashed rgb(247, 4, 4);
    overflow: hidden auto;
}

p {
    width: 400px;
    height: 500px;
}

span {
    font-size: 32px;
    color: blue;
}
