* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

h1 {
    color: blue;
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
}

.box {
    width: calc(100% - 200px);
    height: 200px;
    background: rgb(230, 137, 103);
}
.box-1 {
    width: calc(100% - 40px);
    height: 200px;
    background: rgb(179, 14, 105);
    margin: 0 auto;
}
.box-2 {
    height: calc(100vh - 200px);
    background: rgb(178, 14, 211);
}
