* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

h1 {
    color: blue;
    font-size: 35px;
    margin: 20px;
}

li {
    color: blueviolet;
    font-style: italic;
    font-size: 25px;
    margin-left: 10px;
    margin-bottom: 2px;
}
.box {
    width: 300px;
    height: 300px;
    border: 3px dashed orangered;
    margin: 0 auto;
    overflow: auto;
    overscroll-behavior: contain;
}
.box-1 {
    margin-top: 10px;
    width: 300px;
    height: 300px;
    border: 3px dashed orangered;
    margin: 0 auto;
    overflow: auto;
    overscroll-behavior: none;
}
span {
    color: blue;
    font-size: 32px;
}
