html body {
    margin: 0;
}
.box {
    width: 100%;
    height: 100px;
    background: rgb(190, 124, 157);
}
.box:active {
    background: aqua;
}
h1:hover {
    color: red;
}
li:first-child {
    color: blue;
}
li:last-child {
    color: violet;
}
