body {
  background-image: url(https://plus.unsplash.com/premium_photo-1664372145398-3d34d7d357c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(131, 228, 118);
  font-size: 30px;
}

h2 {
  opacity: 0.5;
  background-color: rgb(218, 180, 124);
  width: 300px;
}
