* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #3b208d;
	--secondary-color: #ed9a9e;
}

html {
	font-size: 62.5%;
}

body {
	background: #f7f7fa;
}

body,
input,
textarea,
button {
	font-size: 1.2rem;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
}

main {
	margin: 48px 0;
}

/* Container */
.container {
	display: flex;
	width: 1050px;
	margin: 60px auto 0;
	padding: 6px;
	border-radius: 10px;
	background: #ffffff;
}

/* Heading */
.heading {
	text-align: center;
}

.heading h1 {
	color: #050545;
	font-weight: 900;
	font-size: 3.2rem;
}

.heading p {
	margin-top: 16px;
	color: #8d8d9f;
}

/* Contact info */
.contact-info {
	position: relative;
	flex-shrink: 0;
	width: 370px;
	padding: 24px 30px 30px;
	border-radius: 10px;
	color: #fff;
	background: var(--primary-color);
	overflow: hidden;
}

.contact-info h2 {
	font-weight: 600;
	font-size: 2.2rem;
}

.contact-info .desc {
	font-weight: 600;
	margin-top: 10px;
	font-size: 1.09rem;
	line-height: 1.6;
	color: #9e8dd3;
}

.contact-info .info-item {
	margin-top: 36px;
}

.info_item {
	margin-top: 60px;
}

.contact-info .info-item .icon {
	display: inline-block;
	width: 18px;
	text-align: center;
	color: var(--secondary-color);
}

.contact-info .info-item .value {
	margin-left: 8px;
	font-size: 1.3rem;
	color: #e0cff3;
}

.socials {
	display: flex;
	column-gap: 10px;
	margin-top: 210px;
}

.socials .item {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 27px;
	height: 27px;
	border-radius: 50%;
	text-decoration: none;
	color: #fff;
	font-size: 1.2rem;
}

.socials .item:hover {
	background: var(--secondary-color);
}

.circle {
	position: absolute;
	right: 55px;
	bottom: 60px;
	z-index: 1;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #7955f3;
	opacity: 0.95;
}

.circle.large {
	right: -110px;
	bottom: -110px;
	z-index: 0;
	width: 250px;
	height: 250px;
	opacity: 1;
	background: var(--secondary-color);
}

/* Contact form */
.contact-form {
	flex-grow: 1;
	padding: 28px 32px;
}

/* form-row 1 2 */
.form-row {
	margin-bottom: 30px;
	display: flex;
	gap: 40px;
}

.form-group {
	flex-grow: 1;
}

/* form-row 1 2 3 */
.form-group:focus-within .form-label:not(.large) {
	color: #5e2fe1;
}

.form-group:focus-within .form-input {
	border-color: #5e2fe1;
}

/* cho lỗi hiện lên khi nhập vào */
.form-group:has(:invalid :not(:placeholder-shown)) .form-error {
	display: block;
}

.form-label,
.form-input {
	display: block;
}

.form-label {
	font-size: 1.2rem;
	font-weight: 700;
	color: #2a2b3f;
}

.form-label.large {
	font-size: 1.2rem;
}

/* row 4  Messager:form-textarea */
.form-input,
.form-textarea {
	width: 100%;
	margin-top: 8px;
	outline: none;
	border: none;
	border-bottom: 2px solid #d9d9e3;
	padding: 8px 0 14px 0;
}

/* row 4  Messager:form-textarea  */
.form-input::placeholder,
.form-textarea {
	color: #b7b7cc;
}

/* row 4  Messager:form-textarea  */
.form-textarea {
	resize: none;
	overflow-y: hidden;
}

/* form-erro */
.form-error {
	margin-top: 4px;
	color: red;
	display: none;
}

/* form-row 3 */
.radio-group {
	display: flex;
	margin-top: 16px;
}

.radio-btn {
	display: inline-block;
}

.radio-btn + .radio-btn {
	margin-left: 24px;
}

.radio-btn label {
	position: relative;
	display: flex;
	align-items: center;
	white-space: nowrap;
	font-size: 1.3rem;
	color: #474669;
}

.radio-btn label::before,
.radio-btn label::after {
	content: "";
	display: inline-block;
}

.radio-btn label::before {
	width: 12px;
	height: 12px;
	margin-right: 8px;
	border-radius: 50%;
	border: 2px solid #a7a7b6;
}

.radio-btn [type="radio"] {
	display: none;
}

.radio-btn [type="radio"]:checked + label::before {
	background: #5b32dc;
	border-color: #5b32dc;
}

.radio-btn [type="radio"]:checked + label::after {
	position: absolute;
	top: 9px;
	left: 4px;
	width: 7px;
	height: 3px;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
	rotate: -45deg;
}

textarea {
	height: 60px;
}

/* row 5  Send Messager */
.submit-box {
	/* display: flex; */
	height: 50px;
	justify-content: flex-end;
}

.submit-btn {
	margin-top: 15px;
	min-width: 190px;
	height: 50px;
	color: #fff;
	background: var(--primary-color);
	font-weight: 600;
	font-size: 1.2rem;
	outline: none;
	border: none;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}

.submit-btn:hover {
	opacity: 0.9;
	cursor: pointer;
}
