* {
	box-sizing: border-box;
}

body {
	margin: 20px;
}

h2 {
	font-size: 30px;
	font-weight: 900;
	color: green;
	text-transform: uppercase;
}

/* common */
.text {
	font-family: sans-serif;
	font-size: 24px;
	font-weight: 600;
	color: black;

	position: relative;
}

.text-1,
.text-2,
.text-3 {
	display: inline-block;
	margin-top: -20px;
}

/* kieu 1 */
.text-1::after {
	content: attr(data-text);
	position: absolute;
	top: 0px;
	left: 0;
	width: 0%;
	white-space: nowrap;
	color: transparent;
	overflow: hidden;
	background-color: orange;
	background-clip: text;
	-webkit-background-clip: text;
	transition: all 0.4s ease-in;
}
.text-1:hover::after {
	width: 100%;
}

/* kieu 2 */
.text-2::after {
	content: attr(data-text);
	position: absolute;
	top: 0px;
	left: 0;
	width: 0%;
	white-space: nowrap;
	color: orangered;
	overflow: hidden;
	transition: width 0.4s ease-in;
}
.text-2:hover::after {
	width: 100%;
}

/* kieu 3 */
.text-3::after {
	display: flex;
	justify-content: flex-end;

	content: attr(data-text);
	position: absolute;
	top: 0px;
	right: 0;
	width: 0%;
	white-space: nowrap;
	color: darkorange;
	overflow: hidden;
	transition: width 0.4s ease-in;
}
.text-3:hover::after {
	justify-content: flex-start;
	left: 0;
	width: 100%;
}

/* kieu 4 */
.text-4 {
	background-image: linear-gradient(
		to right,
		orangered,
		orangered 50%,
		#000 50%
	);
	background-size: 200% 100%;
	background-position: 100%;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;

	transition: background ease 0.6s;
}
.text-4:hover {
	background-position: 0%;
}

/* kieu 5 */
.text-5::after {
	content: attr(data-text);
	position: absolute;
	top: 0px;
	left: 0;
	height: 0%;
	white-space: nowrap;
	color: orangered;
	overflow: hidden;
	transition: height 0.4s ease-in;
}
.text-5:hover::after {
	height: 100%;
}

/* kieu 6 */
.text-6::after {
	display: flex;
	align-items: flex-end;

	content: attr(data-text);
	position: absolute;
	bottom: 0px;
	left: 0;
	height: 0%;
	white-space: nowrap;
	color: orangered;
	overflow: hidden;
	transition: height 0.4s ease-in;
}
.text-6:hover::after {
	height: 100%;
	top: 0;
	align-items: flex-start;
}

/* kieu 7 */
.text-7 {
	background-image: linear-gradient(
		to top,
		orangered,
		orangered 50%,
		#000 50%
	);
	background-size: 100% 200%;
	background-position: 0 -0%;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;

	transition: background ease 0.6s;
}
.text-7:hover {
	background-position: 0 100%;
}

/* kieu 8 */
.text-8 {
	background-image: linear-gradient(
		to bottom,
		crimson,
		crimson 50%,
		#000 50%
	);
	background-size: 100% 200%;
	background-position: 0 100%;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;

	transition: background ease 0.6s;
}
.text-8:hover {
	background-position: 0 0%;
}
