body {
    padding-left: 32px;
    font-family: montserrat;
    font-size: 31px;
    font-weight: 600;
    line-height: 2;
}
.highlight:not(p) {
    background-color: green;
}
ul li:not(:first-child) {
    color: red;
}
