* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 100px;
}

.icon {
    background-image: url(https://files.fullstack.edu.vn/f8-prod/manual_uploads/htmlcss-pro/css_sprites_demo.png);
    background-size: 25px 715px;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    display: inline-block;
}

.comment {
    background-position: 0px -213px;
    /*     background-position: 0px đầu dòng -213px thứ tự icon;
 */
}

.like1 {
    background-position: 0px -232px;
}

.like2 {
    background-position: 0px -251px;
}
