* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

h1 {
    color: blue;
    font-size: 35px;
    margin: 20px;
    text-align: center;
}

/* :root {
    --mau-color: red;
} */

.box {
    width: 100px;
    height: 100px;
    margin: 20px auto 0;
    border-radius: 20px;
    background: var(--mau-color, red);
}
