* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

h1 {
    color: blue;
    font-size: 35px;
    margin: 20px;
    text-align: center;
}

li {
    color: blueviolet;
    font-style: italic;
    font-size: 25px;
    margin-left: 10px;
    margin-bottom: 2px;
}

a[lang="vi"] {
    color: red;
    font-size: 32px;
}

a[title~="ipsum"] {
    color: red;
    font-size: 32px;
}
a[title~="ipsum"][title~="dolor"] {
    color: rgb(11, 25, 226);
    font-size: 32px;
}
