body {
    background-color: #a174ff;
    display: inline-block;
}

div:nth-child(1) {
    display: inline-block;
    border: 50px solid;
    border-color: transparent transparent #5ebbff;
}

/* div:first-child {
    display: inline-block;
    border: 50px solid;
    border-color: transparent transparent #5ebbff;
  } */

div:nth-child(2) {
    width: 100px;
    height: 100px;
    background-color: #5ebbff;
}

div:nth-child(3) {
    display: inline-block;
    border: 50px solid;
    border-color: #5ebbff transparent transparent;
}

/* div:last-child{
    display: inline-block;
    border: 50px solid;
    border-color: #5EBBFF transparent transparent;
} */
