* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-1 {
    width: 400px;
    height: 200px;
    background-image: url(https://files.fullstack.edu.vn/f8-prod/manual_uploads/htmlcss-pro/bg-size-1.jpg);
    /*đề bài background-size: cover; */
    background-size: contain;
}

.bg-2 {
    width: 250px;
    height: 300px;
    margin-top: 8px;
    background-image: url(https://files.fullstack.edu.vn/f8-prod/manual_uploads/htmlcss-pro/bg-size-2.jpg);
    /*đề bài background-size: contain; */
    background-size: contain;
}

.bg {
    background-size: cover;

    border: 2px dotted #ccc;
}
