* {
	/* ===phần=== đầu */
	box-sizing: border-box;
}

:root {
	--primary-color: #0f1b4c;
}

html,
body {
	scroll-behavior: smooth;
	/* scroll(cuộn) -behavior(hành vi): smooth (mượn mà) */
}

html {
	/* ===phần đầu===== */
	font-size: 62.5%;
}

body {
	/* ===== 01 phần đầu  ===== */
	font-size: 1.6rem;
	/* =======Thêm fonts====== */
	font-family: "Poppins", sans-serif;
}

/* 01 Common */
/* ========= 01 Common =============== */
a {
	text-decoration: none;
}

.content {
	width: 1110px;
	max-width: calc(100% - 48px);
	margin-left: auto;
	margin-right: auto;
}

.btn {
	display: inline-block;
	min-width: 98px;
	padding: 18px 16px;
	background: var(--primary-color);
	/* 07 Sửa .btn border-radius: 
    border-radius: 8px thành 12px; núp sign up*/
	border-radius: 12px;
	font-weight: 500;
	font-size: 1.4rem;
	text-align: center;
	color: #ffffff;
}

.btn:hover {
	opacity: 0.9;
}

.line-clamp {
	/* line-clamp là chữ có nhiều dòng 
    hạn chế 2 dòng chỗ Featured item 2
    thẻ title và desc và css style cho desc trên html
    nếu có phát sinh thì mình xử lý rồi 
    (nên mình xử lý trước lỡ nội dung thay đổi) */
	display: -webkit-box;
	-webkit-line-clamp: var(--line-clamp, 2);
	-webkit-box-orient: vertical;
	overflow: hidden;
}

/* ======== Header ======== */
.fixed-header {
	background: #e6f0ff;
	padding-top: 26px;
	position: sticky;
	top: -26px;
	z-index: 1;
}

.navbar {
	display: flex;
	align-items: center;
	padding: 12px 0;
}

.navbar ul {
	display: flex;
	margin-left: 50px;
}

.navbar .actions {
	margin-left: auto;
}

.navbar ul a {
	font-weight: 500;
	font-size: 1.4rem;
	color: #4f5361;
	padding: 8px 14px;
}

.navbar ul a:hover {
	text-decoration: underline;
}

.navbar .action-link {
	font-weight: 500;
	font-size: 1.4rem;
	color: var(--primary-color);
}

.navbar .action-btn {
	padding: 13px 16px;
	margin-left: 18px;
	/* 07 Sửa .btn border-radius: 
    thêm dòng
    border-radius: 8px;
    núp sign up*/
	border-radius: 8px;
}

/* ============== 02 Phần Hero Info  ================== */
.hero-wraps {
	background: #e6f0ff;
	height: calc(100vh - 246px);
}

.hero-wrap {
	position: relative;
	/* display: flex;
	flex-direction: column;
	justify-content: center; */
	/* background: #e6f0ff; */
	/* height: calc(100vh - 90px); */
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.hero-wrap .info {
	width: 559px;
	height: 371px;
	position: absolute;
	top: 142px;
}

.hero-wrap .sub-title {
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 1.5;
	letter-spacing: 0.01em;
	color: #687690;
}

.hero-wrap .title {
	margin-top: 8px;
	font-weight: 700;
	font-size: 6.2rem;
	line-height: 1.19;
	/* or 119% */
	color: #000336;
}

.hero-wrap .desc {
	margin-top: 30px;
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 1.78;
	color: #5a6473;
	/* line-height: 32px;
    font-size: 18px;
    32 chia 18 = 1.7777 làm tròn 1.78
    */
	/* or 178% */
	/* text-transform: capitalize;
    viết hoa chữ cái đầu */
}

/* ============= 03 phần Hero Image============== */
.hero-cta {
	min-width: 170px;
	margin-top: 40px;
}

.hero-imagers {
	position: absolute;
	right: calc((100vw - 1110px) / 2 - 100px);
	top: 45px;
	right: -160px;
}

.hero-img {
	/* lên phần fixed-header thêm position: relative; */
	/* right: calc((100vw - 1110px) / 2 - 100px);
	bottom: 0; */
}

/* ======== Clients ======== */
/* ================ 04  phần Clients ==================== */
.clients {
	/* ============= 10 Sửa khoảng cách giữa các thành phần================ */
	margin-top: 79px;
	padding: 43px 0 64px;
}

.clients .row {
	display: flex;
	justify-content: space-between;
	/* justify-content: space-between; cách xa logo 2 đầu */
	/* .Clients .star {
    margin-left: auto;
    cũng đc như sau này thẻ (More than 45,000+ companies trust besnik) ko có thừa kế như thẻ logo và star
} */
}

.clients .desc {
	font-weight: 500;
	font-size: 1.6rem;
	line-height: 1.25;
	/* identical to box height, or 125% */
	color: #7d8589;
}

.clients .row-desc {
	margin-top: 23px;
}

.clients .images {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 70px;
}

.clients .images a {
	display: flex;
	align-items: center;
	height: 90px;
	padding: 0 42px;
	border-radius: 12px;
}

.clients .images a:hover {
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

/* ======== Guides ======== */
/* ============  05 Làm phần Guides #1 =============== */

.guides {
	/* ============= 10 Sửa khoảng cách giữa các thành phần================ */
	margin-top: 40px;
	padding: 93px 0 79px;
}

.guides .sub-title {
	position: relative;
	font-weight: 600;
	font-size: 3.5rem;
	line-height: 1;
	/* or 100% */
	text-align: center;
	color: #000339;
}

.guides .sub-title::before {
	position: absolute;
	top: -10px;
	left: 50%;
	transform: translateX(-50%);
	content: "";
	display: inline-block;
	width: 41px;
	height: 4px;
	background: #000339;
	border-radius: 12px;
}

.guides .desc {
	width: 459px;
	max-width: 100%;
	margin: 20px auto 0;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.88;
	/* or 188% */
	text-align: center;
	color: #5a6473;
}

/* ============  06 Làm phần Guides #2 =============== */
.list-guide {
	display: flex;
	justify-content: center;
	margin-top: 70px;
}

.guide-item {
	margin: 0 70px;
	text-align: center;
}

.guide-item .title {
	margin-top: 26px;
	font-weight: 500;
	font-size: 2rem;
	line-height: 1.1;
	color: #3b3c45;
}

.guide-item .link {
	display: inline-block;
	margin-top: 10px;
	font-weight: 600;
	font-size: 1.4rem;
	color: #0689ff;
}

.guide-item .arrow {
	margin-left: 6px;
}

.guide-cta {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.guide-cta .btn {
	min-width: 170px;
}

/* <!-- =============== 08 Làm phần Featured #1 ================ --> */

.featured {
	/* ============= 10 Sửa khoảng cách giữa các thành phần================ */
	margin-top: 41px;
	padding: 110px;
	/* background-color: #f00d0d; */
}

.featured .sub-title {
	font-weight: 600;
	font-size: 3.5rem;
	line-height: 1;
	/* identical to box height, or 100% */
	color: #000339;
}

.featured .row {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}

.featured .desc {
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.88;
	/* identical to box height, or 188% */
	/* align-items: flex-end; */
	color: #5a6473;
}

.featured .link {
	display: flex;
	align-items: center;
	/* cách 2 canh mũi tên ở giữa 
    display: flex;
    align-items: center; */
	font-weight: 600;
	font-size: 1.8rem;
	/* identical to box height */
	/* text-align: right; */
	color: #0689ff;
}

.featured .link .arrow {
	/* canh mũi tên ở giữa có 2 cách
cách này cách 1
position: relative;
top: -2px; */
	margin-left: 8px;
}

/* ========= 09 Làm phần Featured #2=============== */

.featured .list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	margin-top: 70px;
}

.featured .item {
	flex: 1;
	background: #ffffff;
}

.featured .item .thumb {
	width: 100%;
	height: 227px;
	object-fit: cover;
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
}
.featured .item .body {
	padding: 17px 20px 24px;
}
.featured .item .title a {
	font-weight: 600;
	font-size: 2rem;
	line-height: 1;
	/* identical to box height, or 100% */
	/* text-align: center; */
	color: #000339;
}
.featured .item .desc {
	margin-top: 11px;
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 1.5;
	/* identical to box height */
	/* text-align: center; */
	color: #a3a6ab;
	word-break: break-all;
	/* word-break: break-all; là cho dòng chữ
    ko bị bể hình ảnh và  kích thước ban đầu và sẽ sắp xếp theo 
    dự án 
    (nên mình xử lý trước lỡ nội dung thay đổi) */
}
.featured .item .info {
	display: flex;
	align-items: center;
	margin-top: 23px;
}

.featured .item .label {
	padding-left: 8px;
	font-weight: 500;
	font-size: 1.4rem;
	letter-spacing: 0.01em;
	color: #4d4d52;
}

.featured .item .icon {
	margin-left: 23px;
}
.featured .item .icon:first-child {
	margin: 0;
}

/* =============== 11 Làm phần Stats #1  khối lượng thống kê  =============== */
.stats {
	margin-top: 75px;
	padding: 50px 0;
	/* background-color: #e5e5e5; */
	background: #ffffff;
}

.stats .row {
	display: flex;
	align-items: center;
	justify-content: center;
}

.stats .content {
	width: 1048px;
}

.stats .img-inblock,
.stats .info {
	width: 50%;
}

/* =============== 12 Làm phần Stats #2  khối lượng thống kê  =============== */
/* 12 Làm phần Stats #2 */
.stats .img-inblock {
	position: relative;
}
/* 12 Làm phần Stats #2 */
.stats-trend {
	position: absolute;
	width: 239px;
	top: 0;
	left: 0;
	padding: 45px 22px 40px;
	border-radius: 0px 0px 12px 12px;
	background: #ffffff;
}

.stats-trend .value {
	width: 159px;
	font-weight: 700;
	font-size: 2.6rem;
	/* identical to box height, or 100% */
	letter-spacing: 0.01em;
	color: #000339;
}

.stats-trend .icon {
	margin-left: auto;
}

.stats-trend .desc {
	margin-top: 8px;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 1.5;
	/* or 150% */
	color: #a7a7a7;
}

.stats-trend .separate {
	margin-top: 25px;
	height: 1.2px;
	background: #e9e9e9;
}

/* =============== 13 Làm phần Stats #1  khối lượng thống kê  =============== */

.stats .avatar-block {
	display: flex;
	flex-wrap: wrap;
	gap: 16px 14px;
	margin-top: 26px;
}

.stats .avatar-group {
	display: flex;
}

.stats .avatar {
	width: 16px;
	height: 16px;
	margin-left: -3px;
	object-fit: cover;
	border-radius: 50%;
	/* tác động thẻ div DIV  có chữ */
	/* Làm phần Stats #4
    background: var(--bg-color, #fff); 
    thay vào các DIV 
    <div
        class="avatar"
        style="--bg-color: #1f3bb1"
        >
        R
    </div>
    */
	background: var(--bg-color, #fff);
	font-weight: 450;
	font-size: 0.7rem;
	line-height: 16px;
	text-align: center;
	letter-spacing: -0.02em;
	color: #ffffff;
}

/* first-child là canh avatar 1(đầu tiên) về 0 bên trái
cho bằng  .stats-trend .separate */
.stats .avatar:first-child {
	margin-left: 0;
}

/* =============== 11 Làm phần Stats #1  khối lượng thống kê  =============== */
.stats .img-inblock .image {
	display: block;
	margin-left: auto;
	width: 400px;
	height: 460px;
	object-fit: cover;
	/*
bject-fit: cover;
lấp đầy diện tích kích thước mình tạo ra
  */
	border-radius: 12px;
}

.stats .info {
	padding: 79px 0 0 165px;
}
.stats .sub-title {
	position: relative;
	width: 269px;
	font-weight: 600;
	font-size: 3.5rem;
	line-height: 1.29;
	/* or 129% */
	color: #000339;
}

.stats .sub-title::before {
	position: absolute;
	left: 0;
	top: -10px;
	content: "";
	display: block;
	width: 41px;
	height: 4px;
	background: #000339;
	border-radius: 12px;
}

.stats .info .desc {
	margin-top: 20px;
	width: 309px;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.88;
	/* or 188% */
	color: #5a6473;
}

/* =========== 15 Làm phần Stats #5 =========== */
.stats .row-qty {
	margin-top: 110px;
	/* display: flex;
    align-items: center; */
	justify-content: space-between;
	padding: 0 32px;
}

.stats .qty {
	font-weight: 600;
	font-size: 6.4rem;
	/* line-height: 1; */
	/* identical to box height, or 100% */
	color: #000000;
}

.stats .qty-desc {
	margin-top: 24px;
	font-weight: 500;
	font-size: 1.8rem;
	/* line-height: 27px; */
	/* identical to box height */

	color: #7b8087;
}

/* =========== 16 Làm phần Subscription========== */
.subscription {
	margin-top: 90px;
}

.subscription .content {
	border-radius: 20px;
}

.subscription .body {
	position: relative;
	display: flex;
	align-items: center;
	height: 370px;
	background: #063183;
	border-radius: 20px;
}

.subscription .info {
	width: 671px;
	max-width: 100%;
	padding: 0 80px;
}

.subscription .sub-title {
	/* margin-top: 149px; */
	font-weight: 600;
	font-size: 3.5rem;
	line-height: 1.5;
	/* identical to box height, or 100% */
	color: #ffffff;
}

.subscription .desc {
	margin-top: 15px;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.88;
	/* identical to box height, or 188% */
	color: #ffffff;
	opacity: 0.75;
}

.subscription .btn {
	margin-top: 20px;
	min-width: 151px;
	background: #ffffff;
	color: #002366;
}

.subscription .image {
	position: absolute;
	bottom: 0;
	right: 221px;
}

/* ========  17 Làm phần Footer ======= */
.footer {
	margin-top: 55px;
	padding: 50px 0 58px;
}

.footer .row {
	display: flex;
}

.footer .row-top {
	gap: 185px;
}

.footer .heading {
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-size: 2rem;
	color: #1c1c1d;
}

.footer .list,
.footer .desc {
	margin-top: 42px;
}
.footer .item {
	margin-top: 18px;
}

.footer .item a {
	font-weight: 400;
	font-size: 1.6rem;
	color: #7a7a7e;
	white-space: nowrap;
	/* white-space: nowrap;
    ko cho chữ xg dòng 
 */
}

.footer .desc {
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.75;
	/* or 175% */
	color: #7a7a7e;
}

.footer .social {
	display: flex;
	margin-top: 40px;
}
.footer .social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 28px;
	height: 28px;
	border-radius: 3px;
	background: #f9f9f9;
}

.footer .social-link:hover {
	background: #ededed;
}

.footer .row-bottom {
	margin-top: 81px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer .copyright {
	font-weight: 400;
	font-size: 1.4rem;
	color: #c2c2c2;
}
