* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    color: blue;
    font-size: 35px;
    margin-bottom: 20px;
}
ul {
    margin-bottom: 20px;
}
li {
    color: blueviolet;
    font-style: italic;
    font-size: 25px;
    margin-left: 10px;
    margin-bottom: 2px;
}

h2 {
    font-size: 25px;
}

.hightlight {
    color: transparent;
    /*     color: transparent;
 làm cho màu chữ đổi màu */
    font-size: 25px;
    background-color: #4158d0;
    background-image: linear-gradient(
        43deg,
        #4158d0 0%,
        #c850c0 46%,
        #ffcc70 100%
    );

    background-clip: text;
    -webkit-background-clip: text;
}
/* @supports đây là hỗ trợ cho các trình duyệt ko hỗ trợ  */
@supports (background-clip: text) or (-webkit-background-clip: text) {
    .hightlight {
        color: transparent;
        font-size: 25px;
        background-color: #4158d0;
        background-image: linear-gradient(
            43deg,
            #4158d0 0%,
            #c850c0 46%,
            #ffcc70 100%
        );

        background-clip: text;
        -webkit-background-clip: text;
    }
}
