* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-font: "Open Sans", sans-serif;
	--primary-font-inter: "Inter", sans-serif;
	--animate-duration: 800ms;
	--animate-delay: 0.9s;
}

html {
	font-size: 62.5%;
}

/* common */
body {
	font-size: 1.6rem;
	font-family: var(--primary-font);
	background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--primary-font);
	color: #000958;
}

input,
textarea,
select,
button {
	font-size: inherit;
	font-family: inherit;
}

a {
	text-decoration: none;
}

p {
	color: #696d76;
	font-family: var(--primary-font);
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.75rem; /* 175% */
}

.container {
	width: 1170px;
	max-width: calc(100% - 48px);
	/* calc(100% - 48px) canh 2 bên viền mỗi bên trừ 24px cho ko gần viền */
	margin: 0 auto;
}

.section__heading,
.section__desc {
	text-align: center;
}

.section__heading {
	color: #212832;
	font-family: var(--primary-font);
	font-size: 4rem;
	font-weight: 700;
	line-height: 3.125rem; /* 125% */
}

.section__desc {
	color: #696d76;
	text-align: center;
	font-family: var(--primary-font);
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.75; /* 175% */
}
.section__digital {
	color: #696d77;
	margin-left: 30px;
	font-family: var(--primary-font);
	font-size: 1.6rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.75; /* 175% */
}

.section__digital::before {
	position: absolute;
	margin-top: 14px;
	margin-left: -24px;
	content: "";
	width: 18px;
	height: 2px;
	background: #696d77;
}

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	--height: 58px;

	background: #212832;
	min-width: 150px;
	height: var(--height);
	color: #fff;
	text-align: center;
	font-family: var(--primary-font);
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1.75;
	/*175%*/
	border-radius: 6px;
}

.btn:hover {
	opacity: 0.9;
	cursor: pointer;
}

/* Header */
header {
	padding: 42px 0;
}

.header__inner {
	/* position: fixed;
	margin-top: -42px;
	padding: 26px 88px 8px 0; */
	/* z-index: 999; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
}

.header--logo {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 7px;
}

.navbar {
	width: 355px;
	margin-left: -273px;
}
.nav__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 48px;
}

.nav__link {
	position: relative;
	color: #696d76;
	text-align: center;
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1.75; /* 175% */
}

.header-action__btn {
	color: #fff;
	text-align: center;
	font-family: var(--primary-font);
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1.75; /* 175% */
}

.header--logo__desc {
	width: 71.734px;
	height: 12.313px;
}

.header-action__link {
	width: 113px;
	background: #fff;
	color: #212832;
	text-align: center;
	font-family: var(--primary-font);
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1.75; /* 175% */
}

.header-action__btn {
	width: 113px;
	border-radius: 6px;
	background: #212832;
}

.header-action__link:hover,
.nav__link:hover {
	color: #212832;
	text-shadow: 1px 0 0 currentColor;
}

.header-action__btn:hover {
	color: #fff;
}

.nav__link-action::before {
	bottom: -3px;
	position: absolute;
	content: "";
	width: 47px;
	height: 1px;
	border-radius: 0.5px;
	background: #7264d6;
}

/* Hero  */
.hero {
}

.hero__inner {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

/* Hero Content  */
.hero__content {
	margin-top: 54px;
	width: 540px;
	height: 448px;
}

.hero__introduce {
	margin-left: 30px;
	color: #696d77;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.75; /* 175% */
	text-align: unset;
}

.hero__introduce::before,
.section__digital::before {
	position: absolute;
	margin-top: 14px;
	margin-left: -24px;
	content: "";
	width: 18px;
	height: 2px;
	background: #696d77;
}

.hero__heading {
	width: 500px;
	margin-top: 12px;
	color: #212832;
	font-size: 6rem;
	font-weight: 700;
	line-height: 1.16; /* 116.667% */
	text-align: unset;
}

.hero__heading-pay {
	color: #7264d6;
	font-family: var(--primary-font);
	font-size: 6rem;
	font-weight: 700;
	line-height: 1.16;
}

.hero__desc {
	width: 540px;
	margin-top: 20px;
	text-align: unset;
	font-size: 1.8rem;
	line-height: 1.66; /* 166.667% */
}

.hero__switch-form {
	position: relative;
	display: flex;
	margin-top: 20px;
	width: 540px;
	height: 74px;
}

.hero__switch-input {
	padding-left: 23px;
	width: 540px;
	height: 74px;
	border-radius: 8px;
	background: #fff;
	box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
	cursor: pointer;
	outline: none;
	border: none;
	flex-shrink: 0;
}

.hero__action {
	position: absolute;
	width: 149px;
	bottom: 8px;
	right: 2%;
}

.hero__action__btn {
	border-radius: 8px;
	background: #7264d6;
}

.hero__desc-botton {
	margin-top: 20px;
}

.hero__media {
	position: relative;
	width: 570px;
	height: 562px;
	margin-top: 34px;
}

/* Hero Media  */
.hero__mobile {
	position: relative;
	margin-left: 168px;
}

.hero__mobile--rim {
	width: 296px;
	height: 562px;
	flex-shrink: 0;
	border-radius: 40px;
	border: 12px solid #212832;
	background: #fff;
}

.hero__mobile--rim_top {
	position: absolute;
	top: 0;
	left: 77px;
	width: 144px;
	height: 36px;
	border-radius: 0px 0px 18px 18px;
	background: #3c2f60;
}
.hero__mobile--card {
	position: absolute;
	top: 52px;
	left: 23px;
	width: 250px;
	height: 150px;
	border-radius: 20px;
	background: linear-gradient(76deg, #8679e4 11.52%, #7264d6 70.78%);
}

.hero__mobile--inner {
	margin: 0 16px 0 16px;
}

.hero--card-top {
	position: relative;
	z-index: 1;
	margin-top: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hero--card-desc {
	color: #fff;
	font-family: Open Sans;
	font-size: 1.4rem;
	font-weight: 400;
}

.hero--card-number {
	margin-top: 2px;
	color: #fff;
	font-family: var(--primary-font);
	font-size: 2.2rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.hero--card-list {
	position: relative;
	z-index: 1;
	margin-top: 32px;
	display: grid;
	grid-template-columns: 80px 110px;
}

.card-list-item {
	color: #fff;
	font-family: var(--primary-font);
	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.hero--card-list-item {
	color: #fff;
	font-family: var(--primary-font);
	font-size: 1.2rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
.card--circle__top {
	position: absolute;
	width: 105px;
	height: 93px;
	top: 2px;
	left: 8px;
	transform: rotate(-3deg);
}

.card--circle__bottom {
	position: absolute;
	right: 7px;
	bottom: 0;
}

.hero__mobile-center {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 250px;
	top: 226px;
	left: 23px;
	width: 250px;
}
.hero__center-desc {
	color: #31456a;
	font-size: 1.6rem;
	font-weight: 600;
	line-height: normal;
}
.hero__mobile-money {
	position: absolute;
	top: 276px;
	width: 250px;
	left: 23px;
}
.hero__mobile-money--list {
	width: 250px;
	height: 40px;
	display: grid;
	grid-row-gap: 41px;
	justify-items: stretch;
}
.hero__mobile-money--item {
	display: grid;
	grid-template-columns: 40px 110px 52px;
	justify-content: space-between;
	align-items: center;
	justify-items: stretch;
}
.hero__mobile-item--img {
	width: 40px;
	height: 40px;
	margin-top: -37px;
	margin-left: -20px;
}
.hero__mobile-item--content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.hero__mobile-item--heading {
	color: #212832;
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 1; /* 100% */
}
.hero__mobile-item--desc {
	margin-top: 6px;
	color: #696d76;
	text-align: left;
	font-family: var(--primary-font);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1; /* 100% */
}

.hero__mobile-item--price {
	color: #212832;
	text-align: right;
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 1; /* 100% */
}
.hero__mobile-item--munber {
}
.hero__mobile-item--date {
	margin-top: 6px;
	color: #696d76;
	text-align: right;
	font-family: var(--primary-font);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1; /* 100% */
}

.hero__mobile-deposite {
	position: absolute;
	top: 119px;
	left: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 174px;
	height: 46px;
	border-radius: 6px;
	background: #fff;
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}
.hero__mobile-deposite--icon {
	margin-left: -10px;
	width: 18px;
	height: 18px;
	flex-shrink: 0;
}
.hero__mobile-deposite--desc {
	color: #31456a;
	margin-left: 6px;
}
.hero__mobile-deposite--number {
	margin-left: 20px;
	color: #4ab5e3;
	font-family: var(--primary-font);
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1; /* 100% */
}

.hero__mobile-circle {
	position: relative;
	width: 130px;
	height: 130px;
	bottom: 434px;
	right: -508px;
}

.mobile-circle-desc-top {
	top: 31px;
	left: 28%;
	position: absolute;
	color: #fff;
	text-align: center;
	font-family: var(--primary-font);
	font-size: 4.4rem;
	font-weight: 600;
	line-height: normal;
}

.mobile-circle-desc {
	position: absolute;
	top: 77px;
	left: 28%;
	color: #fff;
	text-align: center;
	font-family: var(--primary-font);
	font-size: 1.6rem;
	font-weight: 400;
	line-height: normal;
}

.hero__mobile-secured {
	width: 124px;
	height: 68px;
	border-radius: 10px;
	background: #439f90;
	display: flex;
	gap: 11px;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 32px;
	bottom: 61px;
}
.mobile-secured--icon {
}
.mobile-secured--desc {
}

.mobile-secured--desc__top {
	color: #fff;
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 1;
}
.mobile-secured--desc__bottom {
	margin-top: 5px;
	color: #fff;
	font-size: 0.8rem;
	font-weight: 400;
	line-height: 1; /* 100% */
}

/* About  */
.about {
	margin-top: 160px;
	/* display: grid;
	grid-template-columns: repeat(2, 1fr); */
}

.about__inner {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

/* About Media */
.about__media {
	position: relative;
	width: 470px;
	height: 619px;
}

.about__media--img {
	position: relative;
	width: 470px;
	height: 550px;
}

/* .about__media--img::before {
	position: absolute;
	content: "";
	width: inherit;
	height: inherit;
	fill: #92c2c2;
	background: #92c2c2;
} */

.media-bg {
	position: absolute;
}

.media-img {
	position: absolute;
	z-index: 1;
	width: 456px;
	height: 619px;
	margin-left: 8px;
	margin-top: -73px;
}

.media--content__card {
	position: absolute;
	top: 0;
	right: 65px;
}

.about__media--content {
	position: absolute;
	bottom: 167px;
	right: -101px;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 226px;
	height: 70px;
	border-radius: 8px;
	background: #fffdfa;
	box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.media--content__icon {
	width: 40px;
	height: 40px;
}

.media--content__data {
	margin-left: 10px;
}

.media--content__desc-top {
	color: #212832;
	font-family: "Inter", sans-serif;
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.media--content__desc {
	font-family: "Inter", sans-serif;
	color: #696d76;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: normal;
}

/* About Content  */
.about__content {
	margin-left: 115px;
}
.about__digital {
	margin-left: 23px;
}
.about__heading {
	margin-top: 12px;
	text-align: unset;
}

.about__list {
	margin-top: 70px;
}
.about__list--item {
	margin-bottom: 30px;
}

.about--item-heading {
	color: #212832;
	font-size: 2.2rem;
	font-weight: 600;
	line-height: 1.45; /* 145.455% */
}

.about--item-desc {
	margin-top: 16px;
	text-align: unset;
}

/* Feature */
.feature {
	margin-top: 160px;
}

.feature__inner {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	row-gap: 160px;
}

/* Feature Content */
.feature__content {
	width: 470px;
	height: 500px;
}
.feature__content-inner {
}

.feature__content-digital {
}

.section__digital {
}

.feature__content-heading {
	margin-top: 12px;
	text-align: unset;
	font-weight: 700;
	line-height: 1.25; /* 125% */
}

.feature__content-desc {
	margin-top: 20px;
	text-align: unset;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.66; /* 166.667% */
}

.feature__content-list {
	margin-top: 28px;
}

.feature__content-item {
	margin-bottom: 18px;
	padding-left: 24px;
	position: relative;
	color: #212832;
	font-family: var(--primary-font);
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.66; /* 166.667% */
}

.feature__content-item::after {
	position: absolute;
	content: "";
	top: 8px;
	left: 0;
	width: 12px;
	height: 12px;
	background: #7264d6;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.feature__content-btn {
	margin-top: 38px;
}

/* feature Card */
.feature__card {
	position: relative;
}

.feature__mobile--card {
	position: relative;
	left: 15px;
	width: 482px;
	height: 322px;
	border-radius: 20px;
	background: #8476e3;
}

.feature__card--inner {
	position: relative;
	width: 482px;
	height: 322px;
}

.feature__mobile--inner {
	position: relative;
	margin: 38px;
	top: 38px;
}

.feature--card-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	position: relative;
}
.feature--card-desc {
	color: #fff;
	font-family: var(--primary-font);
	font-size: 2.4rem;
	font-weight: 400;
}

.feature--card-img {
	width: 80px;
	height: 48px;
}

.feature--card-number {
	z-index: 1;
	position: absolute;
	margin-top: 10px;
	color: #fff;
	font-family: Open Sans;
	font-size: 3.2rem;
	font-weight: 700;
}
.feature--card-list {
	position: absolute;
	z-index: 1;
	margin-top: 145px;
	display: grid;
	grid-template-columns: auto auto;
	row-gap: 4px;
	column-gap: 26px;
}
.feature-card-list-item {
	color: #fff;
	font-family: var(--primary-font);
	font-size: 2rem;
	font-weight: 400;
}
.feature--card-list-item {
	color: #fff;
	font-family: var(--primary-font);
	font-size: 2.2rem;
	font-weight: 600;
}

.feature-card--circle__top {
	position: absolute;
	top: -38px;
	left: -34px;
	width: 193px;
	height: 170.943px;
}

.feature-card--circle__bottom {
	position: absolute;
	right: -55px;
	width: 224.841px;
	height: 187.368px;
	bottom: -241px;
	transform: rotate(-2deg);
}

.feature__title {
	position: absolute;
	top: -48px;
	right: -103px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 276px;
	height: 86px;
	border-radius: 12px;
	background: #fff;
	box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}

.feature__title--center {
}
.feature__title-heading {
	color: #212832;
	margin-bottom: 6px;
	font-family: "Inter", sans-serif;
	font-size: 1.2rem;
	font-weight: 500;
	line-height: normal;
	text-align: unset;
}

.feature__title-desc {
	color: #696d76;
	font-family: var(--primary-font-inter);
	font-size: 1rem;
	font-weight: 400;
	line-height: normal;
	text-align: unset;
}

.feature__title--number {
	margin-left: 67px;
}
.feature__title--number-top {
}
.feature__title--number-date {
	color: #696d76;
	font-family: var(--primary-font-inter);
	font-size: 1rem;
	font-weight: 400;
	line-height: normal;
}

.feature__income {
	position: absolute;
	right: -103px;
	bottom: -52px;
	width: 120px;
	height: 120px;
	border-radius: 16px;
	background: #439f90;
}
.feature__income--inner {
	margin: 14px 0 0 15px;
}
.feature__income--desc {
	margin-top: 14px;
	color: #fff;
	font-family: var(--primary-font);
	font-size: 1.2rem;
	font-weight: 400;
}
.feature__income--number {
	margin-top: 6px;
	color: #fff;
	font-family: Open Sans;
	font-size: 1.8rem;
	font-weight: 600;
}

/* Feature Media */
.feature__media {
	position: relative;
}

.feature__media--inner {
}

.feature__media--image {
	position: relative;
	top: 55px;
}
.feature__media--image--bg {
	position: absolute;
	top: 115px;
}
.feature__media--image-img {
	position: absolute;
	top: -54px;
	left: 30px;
	width: 413px;
	height: 600px;
}

.feature__content-right {
	position: relative;
	top: 52px;
	left: 116px;
}

.feature__media--imgs {
	position: absolute;
	z-index: 1;
	right: 85px;
	bottom: 199px;
}

.feature__media--icon {
	position: relative;
}

.feature__media--icon::before {
	position: absolute;

	content: "";
	width: 90px;
	height: 90px;
	background: #7264d6;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.feature__media--icon-money {
	position: absolute;
	z-index: 1;
	top: 31px;
	left: 23px;
}

.feature__media--payment {
	position: absolute;
	bottom: -139px;
	right: -12px;
	fill: #fff;
	filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.1));
}

.media--payment-inner {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}

.media--payment-heading {
	position: absolute;
	top: 28px;
	color: #212832;
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.66; /* 166.667% */
}

.media--payment-list {
	position: absolute;
	top: 78px;
	display: grid;
	grid-template-columns: 63px 63px 63px;
	gap: 18px;
}

.media--payment-item {
}

/* Testimonial */
.testimonial {
	margin-top: 260px;
}

.testimonial__inner {
}

.testimonial--top {
}

.testimonial--digital {
	text-align: center;
}

.testimonial--heading {
	margin-top: 12px;
}

.testimonial--desc {
	width: 435px;
	margin-top: 18px;
	margin-left: 32%;
}

/* Testimonial Content  */
.testimonial__content {
	margin-top: 70px;
	display: grid;
	align-items: center;
	align-content: center;
	justify-items: center;
	justify-content: center;
	grid-template-columns: 585px 585px;
}
.testimonial--title {
}

.testimonial--title-bg {
	position: relative;
	width: 570px;
	height: 245px;
	/* background: #fff; */
	/* stroke-width: 1px;
	stroke: #dfe2e8; */
	filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}

.testimonial--title-bg::before {
	position: absolute;
	content: "";
	width: inherit;
	height: inherit;
	background: inherit;

	stroke-width: 1px;
	stroke: #dfe2e8;
	fill: #fff;

	border: 1px solid #dfe2e8;
	border-radius: 10px;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.testimonial--title-bg::after {
	position: absolute;
	content: "";
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	bottom: -95px;
	border: 50px solid #dfe2e8;
	border-color: #fff transparent transparent;
	stroke-width: 1px;
	stroke: #dfe2e8;

	filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}

.testimonial--title-bg:hover {
	opacity: 0.9;
	transition: 0.3s;
	cursor: pointer;
	background: #fff;
	filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}

.testimonial--title-desc {
	position: absolute;
	top: 35px;
	margin-left: 30px;
	z-index: 1;
	width: 514px;
	color: #696d76;
	text-align: center;
	font-size: 2.2rem;
	font-style: italic;
	font-weight: 400;
	line-height: 1.54; /* 154.545% */
}

.testimonial--images {
	margin-top: 85px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.testimonial--images-bg {
	position: relative;
	width: 104px;
	height: 104px;
	background: #4ab5e3;
	border-radius: 52px;
	z-index: 99px;
}

.testimonial--images-bg::before {
	position: absolute;
	content: "";
	width: 104px;
	height: 104px;
	flex-shrink: 0;
	border-radius: 52px;
	background: #4ab5e3;
}

.testimonial--images-bg-2::before {
	position: absolute;
	content: "";
	width: 104px;
	height: 104px;
	flex-shrink: 0;
	border-radius: 52px;
	background: #439f90;
}

.testimonial--img {
	position: absolute;
	border-radius: 52px;
	left: 2px;
	top: 5px;
	width: 100px;
	height: 100px;
}

.testimonial--name {
	margin-top: 20px;
	color: #070052;
	text-align: center;
	font-size: 2.6rem;
	font-weight: 600;
	line-height: 1.38; /* 138.462% */
}

.testimonial--business {
	margin-top: 2px;
	color: #696d76;
	text-align: center;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.66; /* 166.667% */
}

/* testimonial Dot  */
.testimonial .dots {
	position: relative;
	margin-top: 38px;
	left: 50%;
	display: flex;
	justify-content: center;
	width: 90px;
	height: 6px;
	gap: 12px;
}

/* .testimonial .dot-active {
	width: 22px;
	height: 6px;
	border-radius: 1px;
	background: #7264d6;
	cursor: default;
} */

.testimonial .dot {
	width: 22px;
	height: 6px;
	border-radius: 1px;
	border: 1px solid #9b9fab;
	cursor: pointer;
}

.dot:hover {
	background: #7264d6;
	cursor: pointer;
	opacity: 0.9;
}

/* Blog */
.blog {
	margin-top: 160px;
}

.blog--header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.blog--header-left {
}
.blog-digital {
}
.section__digital {
}
.blog-heading {
	margin-top: 6px;
	text-align: unset;
}

.blog-desc {
	margin-top: 18px;
	width: 435px;
	text-align: unset;
}

/* Blog Body */
.blog--body {
	position: relative;
	margin-top: 70px;
	display: grid;
	grid-template-columns: 570px 570px;
	column-gap: 30px;
	row-gap: 30px;
}

.blog-column {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 22px;
	border-radius: 12px;
	border: 1px solid #dfe2e8;
	background: #fff;
	width: 570px;
	height: 216px;
}

.blog--column-img {
	margin: 28px 0 28px 28px;
}

.blog__column--img-item {
	width: 160px;
	height: 160px;
}

.blog--column-content {
	width: 332px;
	margin-right: 28px;
}

.blog__column-date {
	color: #696d76;
	font-family: var(--primary-font);
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.71; /* 171.429% */
}

.blog--column-heading {
	margin-top: 10px;
	text-align: unset;
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.66; /* 166.667% */
}

.blog--column-desc {
	margin-top: 20px;
	text-align: unset;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.62; /* 162.5% */
}

/* CTA */
.cta {
	margin-top: 160px;
}
.cta__main {
}
.cta--bg {
	position: relative;

	width: 1170px;
	height: 466px;
	border-radius: 24px;
	background: #7264d6;
}

/* CTA Icon  */
.cta--icon {
	position: absolute;
	display: grid;
	row-gap: 60px;
	margin: 50px 112px;
	width: 946px;
	height: 368px;
}
.cta--icon-top {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	gap: 638px;
}
.cta--icon-bottom {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 0;
	left: 166px;
	right: 166px;
	gap: 530px;
}

.cta--abstract {
}

.cta-center {
	position: absolute;
	margin-top: 100px;
	margin-left: 385px;
	width: 435px;
	height: 266px;
}
.cta-content {
	position: absolute;
	width: 435px;
	height: 164px;
}

.cta--digital {
	text-align: center;
	color: #fff;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.75; /* 175% */
}

.cta--digital::before {
	position: absolute;
	margin-top: 14px;
	margin-left: -24px;
	content: "";
	width: 18px;
	height: 2px;
	background: #fff;
}

.section__digital {
}

.cta--heading {
	margin-top: 12px;
	color: #fff;
	font-size: 4rem;
	font-weight: 700;
	line-height: 1.25; /* 125% */
}

.cta--desc {
	margin-top: 18px;
	color: #fff;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.75; /* 175% */
}

.cta-app {
	position: absolute;
	display: flex;
	gap: 16px;
	top: 200px;
	left: 32px;
	width: 380px;
	height: 64px;
}
.cta-app--icon {
	width: 182px;
	height: 64px;
}

/* footer  */
footer {
	margin-top: 100px;
	height: 564px;
}

.footer__main {
	position: relative;
	display: flex;
	justify-content: space-between;
	gap: 163px;
}
.footer--logo {
	margin-top: -245px;
}

.footer--heading {
	text-align: unset;
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.66; /* 166.667% */
}

.footer--list {
	margin-top: 24px;
}

.footer--list-item {
	margin-bottom: 10px;
}

.footer--list-item__link {
	color: #6a6e78;
	font-family: var(--primary-font);
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.66; /* 166.667% */
	opacity: 0.75;
}

.footer--list-item__bottom {
	margin-top: 24px;
	margin-bottom: 48px;
	width: 371px;
	color: #6a6e78;
	font-family: var(--primary-font);
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.66; /* 166.667% */
}

.footer--switch-form {
	margin-top: 24px;
	display: flex;
	gap: 20px;
}

.footer--switch-input {
	color: #8e919a;
	font-family: var(--primary-font);
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.75; /* 175% */
	width: 270px;
	height: 52px;
	padding-left: 12px;
	border-radius: 6px;
	border: 1px solid #8e919a;
	cursor: pointer;
	opacity: 0.7;
}

.footer--action__btn {
	min-width: 113px;
	height: 52px;
	border-radius: 6px;
	background: #7264d6;
}

.footer--data {
	margin-top: 55px;
	margin-top: 55px;
	display: flex;
	gap: 100px;
}

.footer__email,
.footer__phone {
	color: #6a6e78;
	text-align: justify;
	font-family: var(--primary-font);
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.66; /* 166.667% */
	text-decoration-line: underline;
}

.footer--copy {
	margin-top: 24px;
	height: 84px;
	background: #7264d6;
}

.footer--copy-desc {
	padding-top: 28px;
	color: #fff;
	text-align: center;
	font-family: var(--primary-font);
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.75; /* 175% */
}
