* {
    /* margin: 20px; */

    /* border: 20px; */
    /* box-sizing: border-box; */
}
body {
    padding: 20px;
    font-weight: 600;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    counter-reset: heading;
}

h1 {
    color: blue;
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;

    /* heading = 0 */
}

h2 {
    margin-bottom: 20px;
    counter-increment: heading;
    counter-reset: subheading;
}

h2::before {
    content: counter(heading) " - ";
    /* content: counter(heading);
bắt đầu từ 0 
 */
}

h3 {
    margin-bottom: 20px;
    /* subheading */
    counter-increment: subheading;
}

h3::before {
    content: counter(heading) "." counter(subheading) " - ";
}

.content {
    padding: 32px;
    margin-bottom: 20px;
}
p {
    margin-bottom: 20px;
}
