* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #333;
	font-family: system-ui, sans-serif;
}

h1 {
	color: blue;
	font-size: 38px;
	margin: 20px;
	margin: 0px;
	padding: 8px 0px;

	text-transform: none;
}

h2 {
	color: rgb(186, 34, 206);
	font-size: 25px;
	margin: 20px;
	margin: 0px;
	padding: 8px 0px;

	text-transform: none;
}

ol {
	margin-left: 60px;
}

ul {
	color: blueviolet;
	font-style: italic;
	font-size: 22px;
	margin-left: 10px;
	margin-bottom: 2px;
}

li {
	color: blueviolet;
	font-style: italic;
	font-size: 20px;
	margin-left: 10px;
	margin-bottom: 2px;
}

.li-desc {
	margin-left: 100px;
}

.li-img {
	/* display: flex; */
}

p {
	font-size: 22px;
	color: rgb(14, 11, 218);
}
