html,
body {
    margin: 0;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: url(https://1.bp.blogspot.com/-vRed7ubRYeM/YI45NDnYybI/AAAAAAAAFGU/ZPFZq7J9D9M-0nqVNg6KOCynjtOP7ohIgCNcBGAsYHQ/s16000/006AfEgvgy1go39w6yu1xj31r92pahdz.jpg);

    background-repeat: no-repeat;
    background-size: 100%;
    border: 20px dashed #cccc;
    padding: 20px;
    box-sizing: border-box;
    background-origin: padding-box;
    /*
              background-origin đi chung với background-image
              background-origin đỗ các lớp border, paddding box, content-box 
              */
}
