* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  box-sizing: border-box;
  background-color: orange;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
h3 {
  text-align: center;
  line-height: 100px;
}
