* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  background-color: orange;
  width: 50%;
  height: 100px;
  display: flex;
  left: 200px;
  top: 20px;
  /* right: 50%; */
  /* --height: 100px; */
  /* biến logo của box h3 costheer thường hưởng có thể đổi 200px
  cungxko sao */
  /* height: var(--height 100px) */
  /* có thể dùng display */
  display: flex;
  align-items: center;
  justify-content: center;
  /* có thể dùng position: relative và position:absolute top left
  transform nên sử dụng % cho h3
  */
  position: relative;
  border-radius: 10px;
  border: 3px solid #333;
}
h3 {
  /* căn giữa dấu gạch trước CENTER */
  /* margin: auto;
  position: relative; */

  text-align: center;
  /* line-height: var(--height); */
  /* line-height: 100px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* h3::after {
  /* căn giữa dấu gạch trước CENTER */
/* position: absolute;
  left: -10px;
  content: "";
  border-left: 3px solid #333;
  height: 20px; */
/* top: 50%;
  transform: translate(-50%, -50%);  */
/* } */
input {
  display: block;
  align-items: center;
  justify-content: center;
  margin: 100%;
}
