* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  background-color: orange;
  height: 100px;
  display: flex;
  /* --height: 100px; */
  /* biến logo của box h3 costheer thường hưởng có thể đổi 200px
  cungxko sao */
  /* height: var(--height 100px) */
  /* có thể dùng display
  display: flex;
  align-items: center;
  justify-content: center; */
  /* có thể dùng position: relative và position:absolute top left
  transform nên sử dụng % cho h3
  */
  /* position: relative; */
}
h3 {
  margin: auto;
  position: absolute;

  /* text-align: center; */
  /* line-height: var(--height); */
  /* line-height: 100px; */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
h3::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
