* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  box-sizing: border-box;
  background-color: orange;
  height: 100px;
  /* có thể dùng display
  display: flex;
  align-items: center;
  justify-content: center; */
  /* có thể dùng position: relative và position:absolute top left
  transform nên sử dụng % cho h3
   */
  position: relative;
}
h3 {
  text-align: center;
  line-height: 100px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
