*,
::before,
::after {
	box-sizing: border-box;
}

body {
	font-family: system-ui;
}

.container {
	padding: 0;
}

.inner {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	min-height: 100px;
	margin-bottom: 30px;

	background: #ccc;

	font-size: 30px;
	font-weight: 600;
}
