* {
	box-sizing: border-box;
}

h1 {
	color: blue;
	font-size: 28px;
	margin: 20px;
}

li {
	color: blueviolet;
	font-style: italic;
	font-size: 25px;
	margin-left: 10px;
	margin-bottom: 2px;
}

/* Loading... */
body {
	margin: 0;
	font-family: system-ui, sans-serif;
	color: black;
	background-color: white;
}

.loading {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 99;
	translate: -50% -50%;
	width: 50px;
	height: 50px;
}

.loading.inner {
	position: absolute;
}

.loading::before {
	content: "";
	position: absolute;
	inset: 0;
	border: 5px solid;
	border-color: red blue yellow violet;
	border-radius: 50%;
	animation: spinner 1s infinite;
	-webkit-animation: spinner 1s infinite;
}

.loading[data-text]::after {
	position: absolute;
	bottom: -30px;
	left: 50%;
	translate: -50%;
	content: attr(data-text);
	white-space: nowrap;
}

@keyframes spinner {
	from {
		rotate: 0;
	}
	to {
		rotate: 360deg;
	}
}

.box {
	position: relative;
	width: 300px;
	height: 150px;
	background: #ccc;
}
