* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

h1 {
    color: blue;
    font-size: 55px;
    font-weight: 900;
    margin: 20px;
    text-align: center;
}

h2 {
    color: blue;
    font-size: 25px;
}

.menu {
    color: rgb(195, 207, 26);
    font-size: 45px;
    font-weight: 900;
    margin: 20px;
}

ul {
    font-size: 45px;
    color: violet;
    font-weight: 900;
    text-align: center;
}

li {
    color: blueviolet;
    font-style: italic;
    font-size: 25px;
    margin-left: 10px;
    margin-bottom: 2px;
    text-align: center;
}

p {
    color: rgb(226, 43, 67);
    font-style: italic;
    font-size: 25px;
    margin-left: 10px;
    margin-bottom: 2px;
    text-align: center;
}
