* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

h1 {
    color: blue;
    font-size: 35px;
    margin: 20px;
    text-align: center;
}

li {
    color: blueviolet;
    font-style: italic;
    font-size: 25px;
    margin-left: 10px;
    margin-bottom: 2px;
}
a[href^= "https://"]
{
    color: red;
    font-size: 32px;
}

a[href$=".pmg"] {
    color: rgb(60, 10, 238);
    font-size: 32px;
}

a[href*="downloads"] {
    color: rgb(224, 130, 7);
    font-size: 32px;
}
