* {
    background-color: rgb(24, 29, 30);
}
span {
    color: blueviolet;
}
.token {
    color: aqua;
}
#fill-in-blank-code {
    margin: 34px 0 16px !important;
    padding: 16px 32px !important;
    line-height: 35px !important;
    font-size: 1.6rem !important;
    font-family: var(--font-code) !important;
    background-color: #272a31;
}
#fill-in-blank-code.language-html {
    background-color: rgb(38, 42, 49);
    border-radius: 4.8px;
    color: #f8f8f2;
    font-family: SF Mono;
    line-height: 35px;
    margin: 34px 0px 16px;
    padding: 16px 32px;
    text-align: left;
    text-shadow: #000000 0px 1px 0px;
}
.token.tag {
    color: #f92672;
    display: inline;
    line-height: 35px;
    text-align: left;
    text-shadow: #000000 0px 1px 0px;
}
.token.attr-name {
    color: #a6e22e;
    display: inline;
    line-height: 35px;
    text-align: left;
    text-shadow: #000000 0px 1px 0px;
}
