* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

h1 {
    color: blue;
    font-size: 35px;
    margin: 20px;
    text-align: center;
}

:root {
    --header-height: 200px;
}

.header {
    height: var(--header-height);
    background: #077ce9;
}
.content {
    height: calc(40vh - 100px);
    background: #f005dc;
}

.content-1 {
    width: 500px;
    height: 400px;
    background: #ccc;
    text-align: center;
    font-size: 32px;
    font-style: initial;
}
.list {
    --spacing: 40px;
    /* thay đổi số ko ahr hưởng thiets kế */

    display: flex;
    margin-left: calc(-1 * var(--spacing));
    /* margin-left: calc(-1 * var(--spacing));
    kết hợp Biến và CALC */
}
.item {
    width: 33.33%;
    height: 100px;
    margin-left: var(--spacing);
    background: rgb(231, 6, 55);
}
