html body {
    margin: 0;
}
.box {
    width: 100%;
    height: 120px;
    background: rgb(211, 231, 243);
}
.box::after {
    content: attr(data-title);
}

a::after {
    content: "(" attr(href) ")";
}
