html,
body {
  margin: 0;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url(https://1.bp.blogspot.com/-vRed7ubRYeM/YI45NDnYybI/AAAAAAAAFGU/ZPFZq7J9D9M-0nqVNg6KOCynjtOP7ohIgCNcBGAsYHQ/s16000/006AfEgvgy1go39w6yu1xj31r92pahdz.jpg);
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: 20px 30px;
  background-position: top 20px left 20px;
  /*
    background-position tùy chỉnh vị trí hình ảnh nền trong CSS
     top: trên
     left: trái 
     right: phải  
     bottom: dưới 
     center: giữa
     10%, 10px
     kết hợp: background-position: top 20px right 20px
              background-position: 20px (là bên trái) 20px (là xg dưới)
              ngược lại là -20px      
     chỉnh sửa hình anh trên trang web mình muốn chỗ vị trí thích hợp
    */
}
