* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	color: blue;
	font-size: 28px;
	margin: 20px;
}

li {
	color: blueviolet;
	font-style: italic;
	font-size: 25px;
	margin-left: 10px;
	margin-bottom: 2px;
}

textarea {
	resize: none;
}

body {
	color: #333;
	font-family: system-ui, sans-serif;
}

main {
	padding: 30px;
}

main:has(h1) {
	background: #9ae909;
	width: 360px;
}

form {
	margin-top: 20px;
}

form:has(:invalid) .submit-btn {
	opacity: 0.5;
	pointer-events: none;
}

.form-group {
	margin-top: 16px;
}

.form-group label,
.form-group input {
	display: block;
}

.form-group label {
	font-weight: 600;
}

.form-group input {
	width: 240px;
	height: 34px;
	margin-top: 8px;
	padding: 4px 8px;
	border: 2px solid #ccc;
	border-radius: 8px;
}

.form-group input::placeholder {
	color: transparent;
}

.form-group:has(:invalid:not(:placeholder-shown)) .error {
	display: block;
}

.form-group .btn {
	margin-top: 20px;
	padding: 10px 28px;
	border: 1px solid transparent;
	border-radius: 8px;
	color: #fff;
	background: #f05123;
	cursor: pointer;
}

.form-group .btn:hover {
	opacity: 0.9;
}

.form-group .error {
	margin: 4px;
	font-size: 14px;
	font-weight: 500;
	color: red;
	display: none;
}
