* {
  margin: 0;
}
html body {
  margin: 0;
}
h1 {
  color: violet;
  font-size: 50px;
}
h2 {
  margin-bottom: 5px;
  font-size: 40px;
  color: red;
}

li:nth-of-type(1) {
  color: rgb(113, 243, 124);
  font-size: 30px;
}

li:nth-of-type(2) {
  color: rgb(207, 57, 119);
  font-size: 20px;
}
li:nth-of-type(3) {
  color: #777;
}

ul {
  color: rgb(223, 57, 121);
  font-size: 20px;
}

.box {
  width: 100%;
  height: 120px;
  background-color: rgb(28, 219, 155);
  position: relative;
  font-size: 30px;
  font-weight: 100;
  color: rgb(175, 129, 73);
  text-align: center;
  line-height: 120px;
}

.box2 {
  width: 500px;
  height: 100px;
  background-color: rgb(233, 86, 27);
  position: absolute;
  top: 10px;
  right: 10px;
}

.box-child {
  width: 50px;
  height: 50px;
  background-color: rgba(126, 13, 231, 0.5);
  margin: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 10px;
  bottom: 0px;
}
