* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

h1 {
    color: blue;
    font-size: 35px;
    margin: 20px;
}

li {
    color: blueviolet;
    font-style: italic;
    font-size: 25px;
    margin-left: 10px;
    margin-bottom: 2px;
}
.box {
    width: 300px;
    height: 300px;
    border: 3px dashed orangered;
    margin: 0 auto;
    overflow: auto;
    overscroll-behavior: contain;
}
.box-1 {
    margin-top: 10px;
    width: 300px;
    height: 300px;
    border: 3px dashed orangered;
    margin: 0 auto;
    overflow: auto;
    overscroll-behavior: none;
}
span {
    color: blue;
    font-size: 32px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.box::-webkit-scrollbar-thumb {
    background: #0c10e2;
}
.box-1::-webkit-scrollbar-thumb {
    background: #6ce20c;
}

/* Handle on hover */
.box::-webkit-scrollbar-thumb:hover {
    background: #d60909;
}
.box-1::-webkit-scrollbar-thumb:hover {
    background: #f106b7;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
