* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

h1 {
    color: blue;
    font-size: 35px;
    margin: 20px;
    text-align: center;
}

div {
    position: absolute;
    width: 100px;
    height: 100px;
}

img {
    background-size: auto;
    background-repeat: no-repeat;
    border: 2px solid red;

    box-sizing: border-box;
    width: 504px;
    height: 804px;
    left: 300px;
    position: relative;
}
