* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

h1 {
    color: blue;
    font-size: 35px;
    margin: 20px;
    text-align: center;
}

li {
    color: blueviolet;
    font-style: italic;
    font-size: 25px;
    margin-left: 10px;
    margin-bottom: 2px;
}

.content {
    overflow: auto;
    display: flex;
    min-height: 300px;
    background: #f7ecca;
}
.item {
    width: 20%;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #ccc;
    background: #d2e8fc;
    margin: 4px;
    flex-shrink: 0;
}
.item:nth-child(6) {
    flex-shrink: 0;
}
.content-1 {
    display: flex;
    min-height: 300px;
    background: #f7ecca;
}
.item-1 {
    /* width: 20%; và flex-basis: 20% giống nhau */
    flex-basis: 20%;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #ccc;
    background: #d2e8fc;
    margin: 4px;
}
