* {
	box-sizing: border-box;
}

:root {
	--primary-color--background: #ff5b2e;
	--height: 44px;
}

html {
	font-size: 62.5%;
}

/* common */
body {
	font-size: 1.6rem;
	font-family: "Poppins", sans-serif;
	background: #fffaf5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Sora", sans-serif;
	color: #000958;
}

input,
textarea,
select,
button {
	font-size: inherit;
	font-family: inherit;
}

p {
	color: #656689;
	text-align: center;
	font-family: "Poppins";
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 400;
}

a {
	text-decoration: none;
}

.btn {
	--height: 56px;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 130px;
	height: var(--height);
	line-height: var(--height);
	border: 1px solid rgb(0, 9, 88, 0.7);
	border-radius: 99px;
	font-weight: 600;
	font-size: 1.4rem;
	text-align: center;
	color: #000958;
}

.btn:hover {
	opacity: 0.9;
	cursor: pointer;
}

.btn--primary {
	color: #fff !important;
	background: var(--primary-color--background) !important;
	border-color: var(--primary-color--background) !important;
}

.btn__icon {
	width: 30px;
	height: 30px;
	margin-left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.container {
	width: 1170px;
	max-width: calc(100% - 48px);
	/* calc(100% - 48px) canh 2 bên viền mỗi bên trừ 24px cho ko gần viền */
	margin: 0 auto;
}
.section__heading,
.section__desc {
	text-align: center;
}

.section__heading {
	margin-top: 15px;
	color: #000958;
	font-family: Sora, sans-serif;
	font-size: 5.2rem;
	font-weight: 700;
	line-height: 1.19;
}

.section__desc {
	width: 431px;
	margin-top: 2.4px;
	color: #656689;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.87; /* 187.5% */
}

.section__cta-btn {
	width: 214px;
	height: 56px;
	bottom: -100px;
	color: #ff5b2e;
	text-align: center;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1; /* 100% */
	border-radius: 31px;
	border: 1px solid #ff5b2e;
	opacity: 0.6;
	box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

/* Header */
header {
	padding: 26px 0;
}

.header__inner {
	position: fixed;
	z-index: 999;
	margin-top: -26px;
	/* padding-right: 88px;
	padding-bottom: 8px;
	padding-top: 26px; */
	padding: 26px 88px 8px 0;
	background: #fffaf5;
	align-items: center;
	justify-content: space-between;
	display: flex;
}

/* .navbar {
	margin-left: 152px;
} */

.navbar__list {
	display: flex;
	margin-left: 180px;
}

.navbar__link,
.header-action__link {
	padding: 8px 18px;
	color: #5e6085;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1; /* 100% */
}
.header-action__link:hover,
.header-action__btn:hover,
.navbar__link:hover {
	color: #000958;
	text-shadow: 1px 0 0 currentColor;
}

.header-action {
	display: flex;
	margin-left: 118px;
	gap: 10px;
}

.header-action__link,
.header-action__btn {
	--height: 50px;

	min-width: 117px;
	height: var(--height);
}

/* Hero  */
.hero__inner {
	margin-top: 74px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hero__media {
	display: flex;
	position: relative;
	padding-bottom: 94px;
}

/* img big  */
.hero_media--wrap {
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	width: 388px;
	height: 488px;
	background: #fe997b;
	border: 3px solid #fff;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	-ms-border-radius: 16px;
	-o-border-radius: 16px;
}

.hero__img {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	z-index: 1;
	border-radius: inherit;
	-webkit-border-radius: inherit;
	-moz-border-radius: inherit;
	-ms-border-radius: inherit;
	-o-border-radius: inherit;
}

.hero__decor {
	position: absolute;
	z-index: -1;
}
.hero__decor--left {
	left: -58px;
	bottom: 10px;
}

.hero__decor--right {
	top: 17px;
	right: -42px;
}

.hero_media--wrap-small {
	align-self: self-end;
	width: 186px;
	height: 244px;
	margin: 0 0 -58px -24px;
	background: linear-gradient(206deg, #faa7ad 4.68%, #e87f8a 98.09%);
	border-radius: 16px;
	border: 2px solid rgba(255, 255, 255, 0.65);

	box-shadow: 8px 18px 36px -6px rgba(234, 148, 157, 0.17);
}

/* img small */
.hero__img--small {
	position: absolute;
}

/* .hero__list {
	position: absolute;
	align-self: self-end;
	padding: 18px 14px;
	left: 490px;
	margin-bottom: -90px;

	z-index: 1;

	display: flex;
	flex-flow: column;
	gap: 20px;

	width: 250px;
	height: 156px;
	border-radius: 10px;
	background: #fff;
	box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
	object-fit: cover;
}

.hero-list-item {
	display: flex;
	gap: 10px;
}

.hero-list-item__thumb {
	width: 40px;
	height: 40px;
	border-radius: 10px;
	background: #fec23f;
}
.hero-list-item__info {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.hero-list-item__title {
	font-family: "Sora", sans-serif;
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1;
}
.hero-list-item__skeleton {
	width: 118px;
	height: 4px;
	border-radius: 10px;
	opacity: 0.08;
	background: #000958;
} */
.hero__list {
	position: absolute;
	left: -234px;
	bottom: 120px;
	width: 250px;
	height: 156px;
	padding: 18px 14px;
	background: #fff;
	box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
	border-radius: 10px;
	margin-left: 360px;
	margin-bottom: -123px;
	z-index: 1;
}

.hero-list-item {
	display: flex;
}

.hero-list-item__thumb {
	width: 40px;
	height: 40px;
	border-radius: 10px;
	object-fit: cover;
	background: #fec23f;
}

.hero-list-item__info {
	margin-left: 10px;
}

.hero-list-item__title {
	font-family: Sora, sans-serif;
	font-weight: 600;
	font-size: 1.4;
	line-height: 1;
	color: #181e52;
}

.hero-list-item__skeleton {
	margin-top: 6px;
	width: var(--width, 118px);
	height: 4px;
	background: #000958;
	opacity: 0.08;
	border-radius: 10px;
}

.hero-list-item__separate {
	width: 100%;
	height: 2px;
	margin: 20px 0;
	background: #f2f2f2;
	border-radius: 99px;
}

.hero-list-item:nth-of-type(2) .hero-list-item__thumb {
	background: #c6e2fa;
}

/* Hero Content */
.hero__content {
	margin-top: 2px;
	margin-left: 120px;
}

.hero__heading {
	color: #000958;
	font-size: 6.6rem;
	font-weight: 800;
	line-height: 1.15;
}

.hero__desc {
	margin-top: 24px;
	width: 391px;
	height: 90px;
	color: #8b8ca6;
	font-size: 1.6rem;
	text-align: left;
	line-height: 1.87; /* 187.5% */
}

.hero__row {
	margin-top: 38px;
	display: flex;
	align-items: center;
	column-gap: 24px;
}

.hero__cta-btn {
	width: 190px;
	height: 60px;
	border-radius: 31px;
	box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
.btn__icon--samll {
	margin-top: 3px;
}

.hero__cta-link {
	text-decoration: overline;
	color: #000958;
	text-align: center;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1; /* 100% */
	text-decoration-line: underline;
}

/* about  */
.about {
	margin-top: 138px;
}

.about__inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 185px;
}

.about__content {
	width: 477px;
}

/* about content  */
.about__label {
	color: #5e6085;
	text-align: left;
	font-family: Sora, sans-serif;
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1; /* 100% */
}

.about__heading {
	margin-top: 15px;
	color: #000958;
	font-family: Sora;
	font-size: 5.2rem;
	font-weight: 700;
	line-height: 1.19;
}

.about__desc {
	width: 431px;
	margin-top: 24px;
	text-align: left;
	color: #656689;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.87; /* 187.5% */
}
.about__checklist {
	margin-top: 57px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 36px;
	row-gap: 35px;
}

.about__check-item {
	position: relative;
	width: 223px;
	height: 24px;
	display: flex;
	align-items: center;
	gap: 10px;

	color: #48496a;
	font-size: 1.8rem;
	font-weight: 500;
	line-height: 1;
}

.about__check-item::before {
	content: "";
	width: 24px;
	height: 24px;
	display: inline-block;
	border-radius: 4px;
	background: #ff5d31;
	box-shadow: 0 4px 15pc -3px rgba(255, 93, 49, 0.69);
}

.about__check-item::after {
	position: absolute;
	content: url(../icon/check.svg);
	top: 3px;
	left: 5px;
}
/* svg {
	margin-top: -3px;
} */

/* about media  */

.about__media {
	position: relative;
	display: flex;
	width: 636.63px;
	height: 559px;
}

/* about card  */
.about__card {
	position: relative;
	width: 136px;
	height: 156px;

	top: 173px;
	left: 37px;
	z-index: 1;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	align-content: center;

	border-radius: 10px;
	background: #5bd6e2;
	box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}
.about__card-title {
	color: #fff;
	text-align: center;
	font-family: Sora, sans-serif;
	font-size: 4.2rem;
	font-weight: 700;
	line-height: 1; /* 100% */
}
.about__card-desc {
	margin-top: 14px;
	width: 83px;
	color: #c6f4f9;
	text-align: center;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.42; /* 142.857% */
}
.about__card-decor {
	position: absolute;
	top: -39px;
	right: -32px;
}

/* about img  */
.about__img {
	position: relative;
	width: 544.63px;
	height: 559px;
}
.about__img-big {
	position: absolute;
	width: 450px;
	height: 602px;
	z-index: 1;
}
.about__img-bg {
	bottom: -43px;

	position: absolute;
	width: 494px;
	height: 367px;
	border-radius: 16px;
	background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
	box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}
.about__img-decor {
	position: absolute;
	top: 169px;
	right: -21px;
	z-index: -1;
}

.about__img-features {
	position: relative;
	width: 458px;
}

.about__features {
	width: 458px;
	height: 500px;
	border-radius: 18px;
	border: 2px solid #fff;
	background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
	box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__features-decor-1,
.about__features-decor-2,
.about__features-decor-3,
.about__features-decor-4,
.about__features-decor-5,
.about__features-decor-6 {
	position: absolute;
}

.about__features-decor-1 {
	top: -16px;
	right: 13px;
	z-index: 1;
}

.about__features-decor-2 {
	top: 26px;
	right: -16px;
	z-index: 1;
}
.about__features-decor-3 {
	top: 14px;
	right: 56px;
	z-index: 1;
}
.about__features-decor-4 {
	top: 47%;
	right: -34px;
}
.about__features-decor-5 {
	top: 62%;
	right: 18px;
}
.about__features-decor-6 {
	right: -58px;
	bottom: 11px;
	z-index: 1;
}

/* about content  */
.about__content-cta {
	width: 557.074px;
	height: 459px;
	margin-top: 60px;
}

.about__list {
	/* position: relative; */
	margin-top: 52px;
	width: 585px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 56px;
}
.about__list-item {
	display: flex;
	align-items: center;
	justify-content: center;
}

.about__list-img {
	margin-top: 5px;
}

.about__list-img-2 {
	margin-top: 10px;
}

.about__list-desc {
	margin-left: 10px;
	color: #48496a;
	text-align: center;
	font-family: Sora, sans-serif;
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1; /* 100% */
}

.about__stick {
	margin-top: 14px;
}

.about__stick-small {
	position: absolute;
	width: 95px;
	height: 2px;
	background: #ff5b2e;
}
.about__stick-long {
	width: 585px;
	height: 2px;
	opacity: 0.07;
	background: #ff5b2e;
}

.about__desc-cta {
	margin-top: 36px;
}

.about__cta {
	margin-top: 32px;
}

.about__cta-link {
	color: #ff5d31;
	font-size: 16px;
	font-weight: 500;
	line-height: 1; /* 100% */
	text-decoration-line: underline;
}

/* Service */
.service {
	margin: 130px;
	padding: 68px 0 100px;
	background: #fff6ed;
}

/* Service Top  */

.service__desc {
	color: #5e6085;

	text-align: center;
	font-family: Sora, sans-serif;
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1; /* 100% */
}

.service__heading {
	margin-top: 15px;
	color: #000958;
	text-align: center;
	font-family: Sora, sans-serif;
	font-size: 5.2rem;
	font-weight: 700;
	line-height: 1.19; /* 119.231% */
}

/* Service Body  */
.service__body {
	display: grid;
	grid-template-columns: auto 1fr auto;
	margin-top: 70px;
}

/* column 1 & 3  */
.service--item {
	margin-bottom: 24px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	width: 294px;
	height: 208px;

	border-radius: 10px;
	border: 2px solid rgba(255, 188, 122, 0.26);
	background: #fff;
}

.service--item__heading {
	position: relative;
	width: 215px;
	font-family: Sora, sans-serif;
	font-size: 2.2rem;
	font-weight: 600;
	line-height: 1; /* 100% */
}

.service--item__heading::after {
	position: absolute;

	content: "";
	left: -12px;
	width: 2px;
	height: 22px;
	background: linear-gradient(180deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.service--item__desc {
	margin-top: 18px;
	width: 244px;
	text-align: left;
	font-family: Poppins;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.71; /* 171.429% */
}

.service--item__more {
	position: relative;
	width: 70px;
	margin-top: 24px;
	margin-right: 175px;
	color: #34396a;
	text-align: left;
	font-family: Sora, sans-serif;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1; /* 100% */
}

.service--item__more::after {
	position: absolute;
	margin: 0 0 1px 6px;
	content: url(../icon/arrow-up-right.svg);
}

/* column 2  */
.service__img {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.service__img-pet {
	width: 447px;
	height: 621px;
	z-index: 1;
}

.service__img-bg {
	bottom: 0;
	position: absolute;
	width: 410px;
	height: 350px;
	border-radius: 10px;
	background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service__cta-btn {
	position: absolute;
	width: 214px;
	height: 56px;
	bottom: -100px;
	color: #ff5b2e;
	margin-top: 45px;
	text-align: center;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1; /* 100% */
	border-radius: 31px;
	border: 1px solid #ff5b2e;
	opacity: 0.6;
	box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

/* Staff */
.staff {
	margin: 130px;
}

/* .staff__top {
	text-align: center;
} */

.staff__desc {
	color: #5e6085;
	text-align: center;
	font-family: Sora, sans-serif;
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1; /* 100% */
}

.staff__heading {
	color: #000958;
	font-family: Sora, sans-serif;
	font-size: 5.2rem;
	font-weight: 700;
	line-height: 1.19; /* 119.231% */
}

.staff__list {
	margin-top: 60px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 35px;
}

.staff-item__img-wrap {
	position: relative;
	margin: 0 16px;
	width: 234px;
	height: 299px;
	border-radius: 130px;
}

.staff-item__img-wrap::before {
	position: absolute;
	bottom: 0;
	left: 0;
	content: "";
	width: 100%;
	height: 90%;
	border-radius: inherit;
	-webkit-border-radius: inherit;
	-moz-border-radius: inherit;
	-ms-border-radius: inherit;
	-o-border-radius: inherit;
	background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.staff-item:nth-child(2) .staff-item__img-wrap::before {
	border-radius: inherit;
	background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff-item:nth-child(3) .staff-item__img-wrap::before {
	border-radius: inherit;
	background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff-item:nth-child(4) .staff-item__img-wrap::before {
	border-radius: inherit;
	background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff-item__img-wrap::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: calc(100% + 36px);
	height: 100%;
	transform: translateX(-50%);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100%;
}

.staff-item:nth-child(even) .staff-item__img-wrap::after {
	background-position: 0 20px;
}

.staff-item:nth-child(1) .staff-item__img-wrap::after {
	background-image: url(../icon/satff-decor-01.svg);
	top: 0;
}

.staff-item:nth-child(2) .staff-item__img-wrap::after {
	background-image: url(../icon/satff-decor-02.svg);
	top: 10px;
}

.staff-item:nth-child(3) .staff-item__img-wrap::after {
	background-image: url(../icon/satff-decor-03.svg);
	top: 0;
}

.staff-item:nth-child(4) .staff-item__img-wrap::after {
	background-image: url(../icon/satff-decor-04.svg);
	top: 10px;
}

.staff-item__img {
	position: relative;
	width: 100%;
	bottom: -14px;
	display: block;
	z-index: 1;
	border-radius: inherit;
	-webkit-border-radius: inherit;
	-moz-border-radius: inherit;
	-ms-border-radius: inherit;
	-o-border-radius: inherit;
}

/* .staff-item__img::before {
	position: absolute;
	bottom: 0;
	left: 0;
	content: url(../img/satff\ 010.png);
	width: 234px;
	height: 266px;
	border-radius: inherit;
	stroke-width: 4px;
	stroke: #90ccff;
	background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
	-webkit-border-radius: inherit;
	-moz-border-radius: inherit;
	-ms-border-radius: inherit;
	-o-border-radius: inherit;
} */

.staff-item__title {
	margin-top: 35px;
	color: #656689;
	text-align: center;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1; /* 100% */
}

.staff-item__name {
	margin-top: 14px;
	color: #000958;
	text-align: center;
	font-family: Sora, sans-serif;
	font-size: 2.2rem;
	font-weight: 600;
	line-height: 1;
}

.staff__btn {
	margin-top: 48px;
	text-align: center;
}

.staffs__cta-btn {
	width: 193px;
}

/* Pricing */
* Pricing */ .pricing {
	padding: 86px 0;
	background: #fff6ed;
}

.pricing__container {
	width: 994px;
}

.pricing__switch-inner {
	display: flex;
	margin-left: 13%;
}

.pricing__heading,
.pricing__desc {
	text-align: center;
}

.pricing__desc {
	width: 709px;
	margin-left: auto;
	margin-right: auto;
}

.pricing__switch-wrap {
	display: flex;
	justify-content: center;
	margin-top: 38px;
}

.pricing__switch-label {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 276px;
	height: 56px;
	padding: 0 40px;
	border: 1px solid #ff5b2e99;
	border-radius: 99px;
	user-select: none;
	cursor: pointer;
}

.pricing__switch-label::before {
	position: absolute;
	content: "";
	width: 140px;
	height: 100%;
	top: 0;
	left: 0;
	background: #ff5b2e;
	border-radius: inherit;
	-webkit-border-radius: inherit;
	-moz-border-radius: inherit;
	-ms-border-radius: inherit;
	-o-border-radius: inherit;
}

.pricing__switch-input:checked + .pricing__switch-label::before {
	width: 131px;
	left: auto;
	right: 0;
}

.pricing__switch-input:not(:checked)
	+ .pricing__switch-label
	.pricing__switch-value:nth-of-type(2),
.pricing__switch-input:checked
	+ .pricing__switch-label
	.pricing__switch-value:nth-of-type(1) {
	color: #ff5b2e;
}

.pricing__switch-value {
	position: relative;
	z-index: 1;
	color: #fff;
	text-align: center;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1;
}

.pricing__sale-off {
	margin-top: -42px;
	margin-left: 30px;
}

/* Pricing List  */
.pricing__list {
	margin-top: 56px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 44px;
}

.pricing-item {
	padding-left: 28px;
	width: 302px;
	height: 465px;
	border-radius: 20px;
	background: #fff;
}

.pricing-item__type {
	margin-top: 30px;
	color: #ff5b2e;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1; /* 100% */
	text-align: unset;
}

.pricing-item__heading {
	margin-top: 8px;
	color: #3f4065;
	font-family: Sora, sans-serif;
	font-size: 1.8rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1; /* 100% */
}

.pricing-item__price {
	margin-top: 24px;
	color: #000958;
	font-family: Sora, sans-serif;
	font-size: 3.3rem;
	font-weight: 700;
	line-height: 1.03; /* 103.03% */
	text-align: unset;
}

.pricing-item__btn {
	--height: 44px;
	margin-top: 22px;
	width: 246px;
	color: #ff5b2e;
	background: transparent;
	border-radius: 39px;
	border: 1px solid rgba(255, 91, 46, 0.6);
}

.pricing-item__btn:hover {
	color: #fff;
	border-radius: 39px;
	background: rgba(255, 91, 46, 1);
}

.pricing-item__list {
	margin: 24px;
}

.pricing-item__item {
	display: flex;
	margin-bottom: 18px;
	color: #656689;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1; /* 100% */
}

.pricing-item__item::before {
	content: url(../icon/pricing-check.svg);
	margin-right: 14px;
	margin-left: -24px;
}

/* Review */
.review {
	padding: 103px 0 194px 0;
}

.review__inner {
	display: flex;
	align-items: center;

	gap: 44px;
}
.review__control {
	width: 54px;
	height: 54px;
	color: rgba(255, 91, 46, 1);
	background: rgba(255, 255, 255, 1);
	border-radius: 50%;
	border: 1.5px solid #ffd1c4;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.review__control:hover {
	color: rgba(255, 255, 255, 1);
	background: rgba(255, 91, 46, 1);
	cursor: pointer;
}

.review__content {
	width: 994px;
	margin-top: 28px;
	overflow: hidden;
}

.review__control-previous,
.review__control-next {
	margin-top: 8px;
}

.review__list {
	display: flex;
}

.review-item {
	display: flex;
	align-items: center;
	/* margin-left: 44px; */
	/* margin-right: 76px; */
	width: 100%;
	flex-shrink: 0;
}

.review-item__media {
	margin-top: -15px;
	position: relative;
	width: 274px;
	flex-shrink: 0;
	border-radius: 137px;
}

.review-item__media::after {
	content: "";
	position: absolute;
	height: 82%;
	background: #ffda54;
	inset: auto 0 0 0;
	border-radius: inherit;
	-webkit-border-radius: inherit;
	-moz-border-radius: inherit;
	-ms-border-radius: inherit;
	-o-border-radius: inherit;
}

.review-item__img {
	bottom: -4px;
	position: relative;
	z-index: 1;
	width: 100%;
	border-radius: inherit;
	-webkit-border-radius: inherit;
	-moz-border-radius: inherit;
	-ms-border-radius: inherit;
	-o-border-radius: inherit;
}

/* .review-item__img::before {
	position: absolute;
	border-radius: 137px;
	background: #ffda54;
} */

.review-item__content {
	margin-top: 20px;
	margin-left: 115px;
}
.review__heading {
	text-align: unset;
	width: 339px;
}
.review-item__quote {
	margin-top: 24px;
	width: 558px;
	color: #000;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.55; /* 155.556% */
}
.review-item__author {
	position: relative;
	margin-top: 34px;
	margin-left: 26px;
	text-align: unset;
	color: #282828;
	font-family: Sora, sans-serif;
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1; /* 100% */
}

.review-item__author::before {
	position: absolute;
	left: -25px;
	bottom: 8px;
	content: "";
	width: 20px;
	height: 2px;
	background: #000;
}

.review__dots {
	margin-top: -56px;
	display: flex;
	/* align-items: center; */
	justify-content: center;
	gap: 8px;
}
.review__dot {
	width: 8px;
	height: 8px;
	border: 1px solid #ff5b2e;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.review__dot:hover {
	background: #ff5b2e;
	cursor: pointer;
}

.review__dot--active {
	width: 24px;
	height: 8px;
	border-radius: 4px;
	background: #ff5b2e;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

.review__control--next {
	margin-left: 35px;
}

/* Blog */
.blog {
	margin-top: -66px;
}

/* Blog Top */
.blog__top {
	display: flex;
}

.blog--info {
	margin-left: 512px;
}

.blog--desc {
	width: 315px;
	text-align: unset;
	font-size: 1.6rem;
	line-height: 1.87; /* 187.5% */
}

.blog__btn {
	margin-top: 24px;
}

.blog__cta-btn {
	width: 182px;
}

/* Blog List */
.blog__list {
	margin-top: 54px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 48px;
}

.blog-item__img-wrap {
	position: relative;
	width: 358px;
	height: 362px;
}

.blog-item__img-wrap::before {
	position: absolute;
	content: "";
	width: 358px;
	height: 362px;
	border-radius: 24px;
	background: #90ccff;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	-ms-border-radius: 24px;
	-o-border-radius: 24px;
}

.blog-item:nth-child(2) .blog-item__img-wrap::before {
	background: #ff997e;
	border-radius: 24px;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	-ms-border-radius: 24px;
	-o-border-radius: 24px;
}

.blog-item:nth-child(3) .blog-item__img-wrap::before {
	border-radius: 24px;
	background: #5bd6e2;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	-ms-border-radius: 24px;
	-o-border-radius: 24px;
}

.blog-item__time {
	position: absolute;
	z-index: 1;
	left: 35px;
	top: 35px;
	color: #fff;
	font-family: Sora, sans-serif;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.21; /* 121.429% */
}

.blog-item__img {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 322px;
	height: 296px;
	z-index: 1;
}

.blog-item__info {
	margin-top: 28px;
}

.blog-item__title {
	width: 338px;
	color: #000958;
	font-family: Sora, sans-serif;
	font-size: 2.2rem;
	font-weight: 600;
	line-height: 1.54; /* 154.545% */
}

.blog-item__desc {
	margin-top: 16px;
	width: 351px;
	text-align: unset;
	line-height: 1.17; /* 171.429% */
}

/* Footer */
.footer {
	margin-top: 130px;
	/* background: linear-gradient(to right, #fff6ed 43%, transparent 42%); */
}

.footer__inner {
	display: flex;
}

/* Footer Logo  */
.footer__logo {
	width: 103px;
	height: 37.175px;
	margin-left: -162px;
}

/* footer Left  */
.footer__left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 615px;
	height: 516px;
	background: #fff6ed;
}

.footer__switch-form {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 268px;
	height: 46px;
	margin: 34px 0 68px;
	border: 1px solid rgba(255, 91, 46, 0.25);
	border-radius: 99px;
	background: #fff;
}

.footer__switch-input {
	width: 75%;
	height: 75%;
	/* padding: 0 22px; */
	margin-left: 22px;
	border: none;
	outline: none;
}

.footer__switch-input::placeholder {
	font-weight: 300;
	font-size: 1.2rem;
	line-height: 1.17;
	color: #656689;
	opacity: 0.8;
}

.footer__control {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 46px;
	height: 46px;
	margin-right: -1px;
	border-radius: 50%;
	background: #ff5b2e;
	box-shadow: 0px 15px 28px -7px rgba(255, 91, 46, 0.3);
	outline: none;
	border: none;
}

.footer__contro:hover {
	opacity: 0.9;
	cursor: pointer;
}

svg {
	top: 1px;
	/* align-items: center; */
	position: relative;
}

/* .footer__control::before {
	position: absolute;
	content: "";
	top: 0;
	right: -98px;
	width: 45px;
	height: 46px;
	border: 1px solid #ff5b2e;
	background: #ff5b2e;
	border-radius: 23px;
} */

.footer__follow {
	margin-top: 68px;
	width: 176px;
}
.footer__follow-heading {
	color: #000958;
	font-family: Sora, sans-serif;
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.11; /* 111.111% */
}

.footer__follow-list__item {
	margin-top: 16px;
}

.footer__follow-item {
	display: flex;
	gap: 16px;
}

.footer__follow-icon {
	width: 32px;
	height: 32px;
	background: #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

/* fOOTER Right  */

.footer__list--wrap {
	margin-top: 52px;
	margin-left: 130px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 137px;
	row-gap: 52px;
}
.footer-item {
	width: 226px;
}
.footer-heading {
	color: #000958;
	font-family: Sora, sans-serif;
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.11; /* 111.111% */
}
.footer-warp {
	margin-top: 14px;
}

.footer-desc-link {
	text-decoration: none;
	color: #656689;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 2; /* 200% */
}

.footer__copyright {
	margin: 52px 0 0 50px;
}

.footer__copyright-desc {
	color: #656689;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.16; /* 116.667% */
	opacity: 0.5;
}
