* {
    margin: 0;
}
.box {
    width: 100px;
    height: 100px;
    background-color: aqua;
    /* cách căn giữa này  cho thẻ display: block
    ko dùng chi thẻ :display: inline; inline-block thì ko chạy 
    chỉ căn đc chiều ngang ko căn đc chiều dọc
    */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* 2 thẻ này sau nà học có thể căn giữa đc flexbox, grid  */
