* {
  margin: 10px;
  font-style: normal;
  line-height: 0.16;
}
p {
  display: inline-block;
  margin: 0;
  background-color: violet;
}
.box {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 7px;
  background-color: tomato;
  /* border lớp vỏ cứng 
  ảnh hưởng phần tử bên trong*/
  /* border: 8px solid green; */

  outline: 8px solid green;
  /* outline 
  lớp hào quang ko sò đc 
  ko va chạm phần tử bên trong
  */
}
.box1 {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 40px;
  background-color: rgb(235, 128, 163);
  /* border lớp vỏ cứng 
    ảnh hưởng phần tử bên trong*/
  border: 8px solid green;

  /* outline: 10px solid rgb(38, 25, 224); */
  /* outline 
    lớp hào quang ko sò đc 
    ko va chạm phần tử bên trong
    */
}

.box2 {
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: blanchedalmond;
  border-width: 20px;
  border-style: solid dashed dotted double;
  border-color: red blue violet gold;
}

.box3 {
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: blanchedalmond;
  /* ko chia đc như border_... */
  outline-width: 20px;
  outline-style: solid;
  outline-color: goldenrod;
}

.box4 {
  width: 100px;
  height: 100px;
  margin: 60px;
  background-color: rgb(209, 137, 29);
  border: 20px solid rgb(26, 56, 228);
  outline: 20px solid red;
  /* outline nằm ngoài border */
  outline-offset: 10px;
  /* outline-offset là khoảng trắng chiaoutline và border */
}

.box5 {
  width: 100px;
  height: 100px;
  margin: 60px;
  color: blue;
  text-align: center;
  background-color: rgb(209, 137, 29);
  border-radius: 50%;
  outline: 20px solid red;
  /* outline có hỗ trợ trình duyệt mới còn trình duyệt cũ ko có */
  
}
