* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    color: blue;
    font-size: 35px;
    margin-bottom: 20px;
}
ul {
    margin-bottom: 20px;
}
li {
    color: blueviolet;
    font-style: italic;
    font-size: 25px;
    margin-left: 10px;
    margin-bottom: 2px;
}
.bg {
    height: 300px;
    padding: 30px;
    border: 30px solid transparent;
    background-image: url(https://images.unsplash.com/photo-1675453019509-2d2368e36a38?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-origin: padding-box;
}
