* {
	box-sizing: border-box;
}

:root {
	--prenimu-color: #ffb900;
	--font-heading: Sen, sans-serif;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: "Poppins", sans-serif;
}
/* Common */

a {
	text-decoration: none;
}

.btn {
	display: inline-block;
	padding: 0 16px;
	width: 118px;
	line-height: 50px;
	font-weight: 600;
	font-size: 1.6rem;
	text-align: center;
	color: #ffffff;
	background: #171100;
	border-radius: 999px;
}

.btn:hover {
	opacity: 0.9;
}

.heading {
	font-family: var(--font-heading);
	font-weight: 700;

	letter-spacing: -0.02em;
	color: #171100;
}

.heading.lv1 {
	font-size: 5.8rem;
	line-height: 1.17;
	/* or 117% */
}

.heading.lv2 {
	font-size: 3.8rem;
	line-height: 1.26;
	/* identical to box height, or 126% */
}

.main-content {
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
	max-width: calc(100% -48px);
}

/* haeder */
.header {
	background: #fffcf4;
}
.header.fixed {
	position: sticky;
	top: -28px;
	z-index: 1;
}
.header .body {
	display: flex;
	align-items: center;
	padding: 36px 8px;
}
.nav {
	margin-left: auto;
}

.nav ul {
	display: flex;
}

.nav a {
	position: relative;
	font-size: 1.6rem;
	color: #5f5b53;
	padding: 8px 21px;
}
.nav a:hover,
.nav li.active a {
	/* font-weight: 600; */
	text-shadow: 1px 0 0 currentColor;
	color: #171100;
}

.nav li.active a::after {
	display: block;
	position: absolute;
	width: 12px;
	height: 2px;
	left: 21px;
	bottom: 6px;
	content: "";
	background: #171100;
	border-radius: 1px;
}

.header .sign-up-btn {
	min-width: 114px;
}

.header .action {
	margin-left: 49px;
}

/* Hero */
.hero {
	padding: 56px 0 65px;
	background: #fffcf4;
	/* background: #df0e0e; */
}

.hero .body {
	display: flex;
}

/* Hero left */
.hero .media-block {
	position: relative;
	width: 48%;
}

.hero .media-block .img {
	width: 470px;
	height: 685px;
	border-radius: 20px;
	object-fit: cover;
	display: block;
	/* vertical-align: baseline
	cách này thêm 65px tren hero cũng đc hay dùng
	display: block;; */
}

.hero-summary {
	position: absolute;
	/* padding: 24px; */
	width: 270px;
	right: 0;
	bottom: 48px;
	background: #ffffff;
	box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
	border-radius: 12px;
}

.hero-summary .item {
	display: flex;
	align-items: center;
	margin: 24px;
}

.hero-summary .item + .item {
	margin-top: 22px;
}
.hero-summary .item:nth-of-type(2) .icon {
	background: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
	background: #ebeaff;
}

.hero-summary .icon {
	width: 48px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff9e8;
	border-radius: 50%;
}

.hero-summary .info {
	margin-left: 16px;
}

.hero-summary .label {
	font-size: 1.4rem;
	line-height: 1.86;
	color: #5f5b53;
}

.hero-summary .title {
	font-weight: 600;
	font-size: 1.8rem;
	line-height: 1.67;
	color: #171100;
}

/*  Hero Right */
.hero .content-block {
	width: 52%;
	padding: 64px 0 0 130px;
}

.hero .desc {
	margin-top: 22px;
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 1.67;
	/* or 167% */
	color: #5f5b53;
}

.hero .cta-group {
	display: flex;
	margin-top: 33px;
}

.hero .cta-group .hero-cta {
	width: 180px;
	background: var(--prenimu-color);
	border-radius: 32px;
}

.hero .watch-video {
	display: flex;
	align-items: center;
	border: none;
	margin-left: 28px;
	width: 202px;
	background: #fffcf4;
}

.hero .watch-video .icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #ffffff;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
	margin-left: 14px;
	font-weight: 600;
	font-size: 1.8rem;
	line-height: 1.67;
	/* identical to box height, or 167% */
	color: #171100;
}

.hero .stats {
	margin: 8px 0 0 -28px;
}

.hero .stats strong {
	padding: 0 8px 0 28px;
	font-family: var(--font-heading);
	font-weight: 700;
	font-size: 4.4rem;
	line-height: 1.23;
	/* identical to box height, or 123% */
	color: #171100;
}

/* Popular #1  */

.popular {
	margin-top: 135px;
	padding: 65px 0;
}

.popular-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.popular-top .desc {
	margin-top: 16px;
	width: 458px;
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 1.67;
	/* or 167% */
	color: #5f5b53;
}

.popular-top .controls {
	display: flex;
	gap: 18px;
}

.popular-top .controls-btn {
	color: var(--prenimu-color);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid var(--prenimu-color);
	background: transparent;
}

.popular-top .controls-btn:hover {
	color: #fff;
	background: var(--prenimu-color);
	cursor: pointer;
}

.course-list {
	margin-top: 55px;
	display: flex;
	/* background: #e5e5e5; */
}

.course-list .course-item {
	padding: 0 30px 0 0;
}

.course-item .thumb {
	background: url(image.png);
	border-radius: 12px 12px 0px 0px;
}

.course-item .info .head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.course-item .info {
	margin-left: 22px;
}

.course-item .info .title {
	margin-top: 16px;
	font-weight: 600;
	font-size: 1.8rem;
	line-height: 1.67;
	/* identical to box height, or 167% */

	color: #171100;
}

.course-item .info .value {
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.75;
	/* identical to box height, or 175% */

	color: #fea31b;
}

.course-item .info .desc {
	width: 326px;
	font-weight: 400;
	font-size: 1.4rem;
	line-height: 1.86;
	/* or 186% */
	color: #5f5b53;
}
