html {
  font-size: 40px;
}
.box {
  width: 100px;
  height: 100px;
  background-color: rgba(212, 63, 63, 0.658);
}
h1 {
  font: 1em sans-serif;
}
.boxs {
  width: 50px;
  height: 100px;
  background-color: rebeccapurple;
}

/*vw-width  , vh-height */
/*viewpost*/
