* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: blue;
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: 600;
}
ul {
    font-size: 32px;
    font-weight: 600;
    color: rgb(240, 7, 240);
    margin: 0px 20px;
}

li {
    color: blueviolet;
    font-style: italic;
    font-size: 25px;
    margin-left: 10px;
    margin-bottom: 2px;
    margin: 0px 20px;
}

p {
    font-size: 23px;
    margin: 0px 20px;
}

p::first-line {
    color: red;
    font-weight: 600;
}

p::first-letter {
    font-size: 50px;
    color: aqua;
}

span {
    display: block;
    font-size: 23px;
    margin: 0px 20px;
}

span::first-line {
    font-weight: 600;
    color: blue;
}
