head {
    display: block;
}
h1 {
    cursor: pointer;
    /* di chuyển vào h1 có hình bàn tay */
    text-decoration: underline;
    /* thêm dấu gạch chân cho h1 */
}
h2 {
    display: none;
    /* ẩn chữ None trên h2  */
}
a {
    text-decoration: none;
    /* bỏ dấu gạch chân thẻ a */
}
link {
    display: block;
    width: 10px;
    height: 10px;
    background-color: red;
}
