* {
    margin: 10px;
    padding: 0;
    line-height: 1.4;
}
body {
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: 35px;
}
ul {
    font-size: 24px;
}
li {
    font-size: 18px;
}
b {
    font-size: 24px;
}
