h1 {
  margin: 0;
  color: green;
  font-size: 50px;
  user-select: none;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  /* 
  user-select: none;
  ko cho bôi đen chữ trên web
  với thuộc tính này thì những trang web mới
  còn trang web  cũ ko thể ta phải thêm:border: 
  -webkit-user-select: none....v..

   */
}
ul {
  color: rgb(8, 125, 235);
  font-size: 30px;
  text-transform: uppercase;
}
