* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

h1 {
    color: blue;
    font-size: 35px;
    margin: 20px;
    text-align: center;
}

li {
    color: blueviolet;
    font-style: italic;
    font-size: 25px;
    margin-left: 10px;
    margin-bottom: 2px;
}
.content {
    display: flex;
    min-height: 300px;
    background: #f7ecca;
    align-items: flex-end;
}
.item {
    /* width: 30%; */

    font-size: 16px;
    font-weight: 600;
    border: 1px solid #ccc;
    background: #d2e8fc;
    margin: 4px;
}

.item:nth-child(6) {
    align-self: center;
}

.content-1 {
    display: flex;
    min-height: 300px;
    background: #f7ecca;
}
.item-1 {
    /* width: 30%; */
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #ccc;
    background: #d2e8fc;
    /* margin: 4px; */
}
.item-1:nth-child(1),
.item-1:nth-child(2) {
    flex-grow: 1;
}

.item-1:nth-child(3) {
    background: red;
}
