body {
    padding-left: 32px;
    font-size: 120%;
    line-height: 1.6;
    font-family: Montserrat;
  }
h1 {
    color: green;
    display: inline-block;
}
h1:hover{
    color: red;
}
.title {
    color: aqua;
}
.title:hover{
    color: red;
}
.box .title:hover{
    color: yellow;
}
.title1{
    color: aqua;
}
.title1:hover{
    color: blue;
}
p{
    user-select: none;
    /* nên dùng khi tạo nút bấm cho thẻ  */
}
p{
    color: blueviolet;
    font-size: 25px;
}
p:active{
    color: red;
    /* phải kích chuột vào heading mới hiện màu */
}
a:link{
    color: red;
    /* :link chưa tuy cập vào trang web */
}
a:visited{
    color: greenyellow;
    /* :visited đã truy cập vào trang web đó */
}
.box1{
    width: 100px;
    height: 100px;
    background-color: aqua;
}
.box1:empty{
    background-color: red;
    /* không có khoảng trống hay chữ thì thẻ box1 màu đỏ */
}
