* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

/*
  - min(value1, value2, vv): đặt giá trị tối đa
  - max(value1, value2, vv): đặt giá trị tối thiểu
  - clamp(min, ideal, max): đặt giá trị trong khoảng min-max, ưu tiên ideal
*/

body {
	margin: 0;
	font-family: system-ui, sans-serif;
	color: black;
	background-color: white;
}

main {
	padding: 20px;
	margin: 0 auto;
}

main p {
	font-size: clamp(1.8rem, 1.1vw + 1.25rem, 2.4rem);
}

/*
  - PC: 24px
  - Mobile: 18px
*/
