* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	color: blue;
	font-size: 28px;
	margin-top: -400px;
}

h2 {
	margin-left: 0;
	color: blue;
	font-size: 28px;
}

li {
	color: blueviolet;
	font-style: italic;
	font-size: 25px;
	margin-left: 10px;
	margin-bottom: 2px;
}

p {
	font-size: 28px;
	color: rgb(14, 11, 218);
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	color: #333;
	font-family: system-ui, sans-serif;
}

.switch {
	margin-left: -161px;
}

.switch label {
	display: inline-block;
	width: 60px;
	height: 30px;
	border-radius: 99px;
	background: #f9f9f9;
	outline: 3px solid #e8e8e8;
	transition: ease 0.2s;
}

.switch label::before {
	position: relative;
	content: "";
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
	transition: ease 0.2s;
}

.switch [type="checkbox"]:checked + label::before {
	transform: translateX(30px);
}

.switch [type="checkbox"]:checked + label {
	background: #72e460;
	outline-color: #72e460;
}
