/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.container-fluid {
	width: 100%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
	.container {
		max-width: 1320px;
	}
}
