* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  color: blueviolet;
  background-color: rgb(171, 171, 224);
}
.box {
}
.tieude {
  text-align: center;
}

.item {
  color: blue;
  font-size: 25px;
}
.van {
  font-size: 29px;
}
