* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  color: blueviolet;
}
.box {
}
.tieude {
  margin: 0px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: yellowgreen;
  background-position-x: 50%;
  font-size: 50px;
  width: 380px;
  height: 30px;
}
.item {
  color: blue;
  font-size: 25px;
}
.van {
  font-size: 29px;
}
