body {
    font-family: sans-serif; 
    line-height: 1.6;
    color: blueviolet;
    font-size: 25px;
}

li {
    font-size: 45px;
    color: blue;
}

ul {
    font-size: 60px;
    font-display: 0;
}

div {
    margin: 0%;
}