* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Montserrat", sans-serif;
}

.content {
    max-width: 700px;
    margin: 0 auto;
    padding: 24px;
    line-height: 1.5;
}

.content h1 {
    font-size: 3.2rem;
}

.content p {
    margin: 16px 0;
    font-size: 1.8rem;
}

.content img {
    max-width: 100%;
}
/* modal */
.modal,
.modal .overlay {
    position: fixed;
    inset: 0;
    display: flex;
    /* display: flex; cho chữ hay hình ở giữa màn hình  */
    /*bỏ background: rgba(0, 0, 0, 0.4);
    thêm vào modal .overlay */
}

.modal .overlay {
    background: rgba(0, 0, 0, 0.4);
}

.modal .body {
    position: relative;
    z-index: 1;
    margin: auto;
    /*margin: auto; cho chữ hay hình ở giữa màn hình  */
    width: 440px;
}

/* .close-btn {
    position: absolute;
    top: 0px;
    right: 0px;
} */

.modal .body img {
    width: 100%;
}

.modal .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #ebebeb;
    border: none;
    cursor: pointer;
}

.modal .close-btn i {
    font-size: 20px;
    color: #666;
    margin: auto;
}
