* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    line-height: 1.6;
}

body {
    box-sizing: border-box;
}

h1 {
    color: blue;
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 1000;
}

li {
    color: blueviolet;
    font-style: normal;
    font-size: 25px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-weight: 900;
}
.box {
    width: 200px;
    height: 200px;
    margin: 50px auto 0;
    background: url(https://bennettfeely.com/clippy/pics/pittsburgh.jpg);
    clip-path: circle();
}
.box-1 {
    width: 200px;
    height: 200px;
    margin: 50px auto 0;
    background: url(https://bennettfeely.com/clippy/pics/pittsburgh.jpg);
    clip-path: inset();
}
.box-2 {
    width: 200px;
    height: 200px;
    margin: 50px auto 0;
    background: url(https://bennettfeely.com/clippy/pics/pittsburgh.jpg);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 80%, 0 100%);
    border-radius: 10px 10px 0 0;
}
