body {
  font-family: "Montserrat", sans-serif;
  padding: 23px;
}
.title {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.6;
}
.desc {
  font-size: 19px;
  line-height: 1.5;
  margin-top: 20px;
}
.btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 24px;
  border-radius: 2px;
  text-decoration: none;
  color: #fff;
  background-color: rgb(216, 33, 233);
}
