* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: blue;
    font-size: 35px;
    margin-bottom: 20px;
}

li {
    color: blueviolet;
    font-style: italic;
    font-size: 25px;
    margin-left: 10px;
    margin-bottom: 2px;
}

html {
    font-size: 62.5%;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.6rem;
    line-height: 1.5;
}
.box {
    background: rgba(0, 0, 0, 0.4);
    font-size: 32px;
    padding: 10px 20px;
    position: fixed;
    /* left: 40px;
    top: 50px;
    right: 10px;
    bottom: 400px; 
    4 hướng này thay bằng inset:  */
    inset: 200px 200px;
}
.menu {
    background: #333;
    position: fixed;
    /* top: 0; */
    left: 0;
    width: 100%;
}

.menu li {
    display: inline-block;
}

.menu a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 16px 12px;
}

.content {
    padding: 16px;
    margin-top: 46px;
}

.content p {
    margin: 16px 0;
}
