* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    color: bisque;
    margin: 20px;
    height: 200px;
    border: 3px dotted #ccc;
    background-image: url(https://images.unsplash.com/photo-1674566660266-4a8e87e44107?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

.box-2 {
    color: bisque;
    margin: 20px;
    height: 200px;
    border: 3px dotted #ccc;
    background-image: url(https://images.unsplash.com/photo-1674566660266-4a8e87e44107?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
    background-repeat: no-repeat;
    background-size: contain;
}

.box-3 {
    color: bisque;
    margin: 20px;
    height: 200px;
    border: 3px dotted #ccc;
    background-image: url(https://images.unsplash.com/photo-1674566660266-4a8e87e44107?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
